USE [LCA]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dboReaders].[SP_ImpExp_GetBoardingInstructionsCombined]
(
	@VarWayBill varchar(max)= null, 
	@VarWayBill2 varchar(max)= null,
	@VarWayBill3 varchar(max)= null,
	@VarWayBill4 varchar(max)= null,
	@VarWayBill5 varchar(max)= null,
	@VarWayBill6 varchar(max)= null
	)
AS

-- -- EXEC  [dboReaders].[SP_ImpExp_GetBoardingInstructionsCombined] @VarWaybill = 'APP-20250612'  
	-- -- DECLARE @VarWayBill varchar(max)= 'TestCB-20250612'  
	--  DECLARE @VarWayBill varchar(max)= 'HW-20260318'  
	--  DECLARE	@VarWayBill2 varchar(max)= 'APP-20260318'
	--  DECLARE	@VarWayBill3 varchar(max)= null
	SET NOCOUNT ON;

	DROP TABLE IF EXISTS #TB_SBI
	DROP TABLE IF EXISTS #TB_ShimpentBoxItems
	
	SELECT 
	 	 [WayBill]                 = sbi.[WayBill]
		,[ContainerNumber]         = sbi.[ContainerNumber]
		,[ShippingContainerID]     = sbi.[ShippingContainerID]
		,[InvoiceBatch]            = sbi.[InvoiceBatch]
		,[Batch]                   = sbi.[Batch]
		,[PONumber]                = sbi.[PONumber]
		,[BoxNumber]               = sbi.[FormattedBoxNumber]
		,[CountryOfOrigin]		   = sbi.[CountryOfOrigin]
		,[StyleNumber]             = sbi.[StyleNumber]
		,[StyleCostMaterials]      = sbi.[StyleCostMaterials]
		,[StyleColor]              = sbi.[StyleColor]
		,[GarmentSize]             = sbi.[GarmentSize]
		,[Quantity]                = sbi.[Quantity]
		,[CA_HTSCode]              = sbi.[CA_HTSCode]
		,[CA_HTSDescription]       = sbi.[CA_HTSDescription]
		,[US_HTSCode]              = sbi.[US_HTSCode]
		,[US_HTSDescription]       = sbi.[US_HTSDescription]
		,[UnitPrice]               = sbi.[UnitPrice]
		,[ShipDate]                = sbi.[ShipDate]
		,[BoxStatusName]           = sbi.[BoxStatusName]
		,[BoxWarehouseName]        = sbi.[BoxWarehouseName]
		,[ShipmentID]              = sbi.[ShipmentID]
		,[SalePrice]               = sbi.[SalePrice]
		,[GrossWeightKGS]          = sbi.[GrossWeightKGS]
		,[GrossWeightKGSXUnits]    = sbi.[GrossWeightKGSXUnits]
		,[GrossWeightKGSAll]       = sbi.[GrossWeightKGSAll]
		,[NetWeightKGS]            = sbi.[NetWeightKGS]
		,[NetWeightKGSXUnits]      = sbi.[NetWeightKGSXUnits]
		,[NetWeightKGSAll]         = sbi.[NetWeightKGSAll]
		,[BoxesXQty]               = sbi.[BoxesXQty]
		,[BoxesXQTYTotal]          = sbi.[BoxesXQTYTotal]
		,[Bin]			           = sbi.[Bin]			
		,[GoodsBinID]	           = sbi.[GoodsBinID]	
		,[PalletNumber]            = sbi.[PalletNumber]
		,[GroupBox]				   = ROW_NUMBER() OVER(PARTITION BY SBI.[FormattedBoxNumber] ORDER BY SBI.[WayBill],SBI.[FormattedBoxNumber], SBI.[StyleNumber])
	INTO #TB_SBI
	FROM [dboReaders].[VW_ImpExp_ShipmentBoxAll]	AS SBI		WITH(NOLOCK)
	WHERE sbi.WayBill IN( @VarWayBill,@VarWayBill2,@VarWayBill3)

	SELECT *
	INTO #TB_ShimpentBoxItems 
	FROM [dboReaders].[VW_ImpExp_ShipmentBoxItems] 	AS ta WITH(NOLOCK)
	WHERE ta.WayBill  IN ( @VarWayBill,@VarWayBill2,@VarWayBill3)
	
	UPDATE SBI SET
		UnitPrice = IIF(SCPD.PONumber IS NOT NULL,((SCPD.BlankPrice)),sbi.[UnitPrice])--sbi.[UnitPrice]
		,SalePrice = IIF(SCPD.PONumber IS NOT NULL,((SCPD.BlankPrice)*sbi.Quantity),sbi.[SalePrice])

	FROM #TB_SBI AS SBI
	LEFT JOIN	AppsLCA.dbo.TB_Parameters_ManualPrice AS SCPD WITH(NOLOCK) ON SCPD.PONumber = sbi.PONumber

	select 
		tb8.ShippingContainerID
		,tb8.ContainerNumber
		,tb8.CA_HTSCode
		,tb8.CA_HTSDescription
		,tb8.US_HTSDescription
		,tb8.[CountryOfOrigin]
		,sum(tb8.Quantity) as Quantity
		,sum(tb8.[SalePrice]) as [SalePrice]
		,sum(tb8.[GrossWeightKGS]) as [GrossWeightKGS]
		,sum(tb8.[NetWeightKGS]) as [NetWeightKGS]
		,max(tb8.NumbersPallets) as NumbersPallets
		,max(tb8.NumbersPalletsNumberBoxes) as NumbersPalletsNumberBoxes
		,sum(tb8.BoxesXQty) as BoxesXQty
		,SUM(tb8.GroupBoxes) as Boxes
		,sum(tb8.PalletXQty) as PalletXQty
		,min(tb8.batchs) as Batchs
		,min(tb8.CodigosGeneracion) as CodigosGeneracion
		,min(tb8.TotalBatchs) as TotalBatchs
		,min(tb8.TotalCodigoGeneracion) as TotalCodigoGeneracion
		,isnull(@VarWayBill,'') + isnull(','+@VarWayBill2,'') + isnull(','+@VarWayBill3,'') + isnull(','+@VarWayBill4,'') + isnull(','+@VarWayBill5,'') + isnull(','+@VarWayBill6,'') as Waybills
		--,tb8.CA_HTSDescription + ' / ' + tb8.US_HTSDescription + ' ( ' +cast(sum(tb8.BoxesXQty) as varchar(max)) + ' CAJAS )'  as BoardingDescription
		,tb8.CA_HTSDescription + ' / ' + tb8.US_HTSDescription as BoardingDescription
		
	from(
	select 
		tb.ShippingContainerID
		,tb.[WayBill]
		,tb.ContainerNumber
		,tb.[CA_HTSCode]
		,tb.[CA_HTSDescription]
		,tb.[US_HTSDescription]
		,tb.[CountryOfOrigin]
		,tb.[Quantity]
		,tb.[SalePrice]
		,tb.[GrossWeightKGS]
		,tb.[NetWeightKGS]
		,tb.NumbersPallets
		,tb.NumbersPalletsNumberBoxes
		,tb.BoxesXQty
		,tb.GroupBoxes
		,tb.PalletXQty --esta se usa para sacar las pallets
		,cast(tb3.Batchs as varchar(max)) as Batchs
		,cast(tb3.CodigosGeneracion as varchar(max)) as CodigosGeneracion
		,tb.[CA_HTSDescription] + ' / ' + tb.[US_HTSDescription] + ' ( ' +cast(tb.BoxesXQty as varchar(max)) + ' CAJAS )'  as BoardingDescription
		,tb7.TotalBatchs
		,tb7.TotalCodigoGeneracion
		
	FROM (
			SELECT 
				[WayBill]                  	= sbi.[WayBill]
				,[ContainerNumber]          	= sbi.[ContainerNumber]
				,[ShippingContainerID]      	= sbi.[ShippingContainerID]
				,[CA_HTSCode]               	= sbi.[CA_HTSCode]
				,[CA_HTSDescription]        	= sbi.[CA_HTSDescription]
				,[US_HTSDescription]        	= sbi.[US_HTSDescription]
				,[CountryOfOrigin]				= sbi.[CountryOfOrigin]
				,[Quantity]                 	= SUM(sbi.[Quantity])
				,[SalePrice]                	= SUM(sbi.[SalePrice])
				,[GrossWeightKGS]           	= SUM(sbi.[GrossWeightKGSAll])
				,[NetWeightKGS]             	= SUM(sbi.[NetWeightKGSAll])
				,[NumbersPallets]           	= tbPB.[NumbersPallets]
				,[NumbersPalletsNumberBoxes]	= tbPb.[NumbersPalletsNumberBoxes]
				,[BoxesXQty]                	= SUM(sbi.[BoxesXQty])
				,[PalletXQty]               	= tbPb.[NumbersPalletsNumberBoxes] * SUM(sbi.[BoxesXQty])
				,[GroupBoxes]					= SUM(CASE WHEN sbi.[GroupBox] = 1 THEN 1 ELSE 0 END)
			FROM #TB_SBI AS sbi
			LEFT OUTER JOIN (
							SELECT 
								[Waybill]						= sh.[WayBill] 
								,[NumbersPallets]				= COUNT( DISTINCT IIF(sh.[GoodsBinID] IS NOT NULL, sh.[Bin], sh.[PalletNumber] ))
								,[NumberBoxes]					= COUNT( DISTINCT sh.[BoxNumber])
								,[NumbersPalletsNumberBoxes]	= CAST( COUNT( DISTINCT IIF(sh.[GoodsBinID] IS NOT NULL, sh.[Bin], sh.[PalletNumber] )) AS FLOAT) / CAST(COUNT( DISTINCT sh.[BoxNumber]) AS FLOAT)
							FROM #TB_SBI AS sh
							GROUP BY sh.[WayBill]

				) as tbPB ON tbPB.WayBill = sbi.WayBill
			GROUP BY 
				sbi.[WayBill]
				,sbi.[ContainerNumber]
				,sbi.ShippingContainerID
				,sbi.[CA_HTSCode]
				,sbi.[CA_HTSDescription]
				,sbi.[US_HTSDescription]
				,sbi.[CountryOfOrigin]
				,tbPB.[NumbersPallets]
				,tbPb.[NumberBoxes]
				,tbPb.[NumbersPalletsNumberBoxes]
	) AS tb 


	left join ( select 
		tbu.CA_HTSCode
		,tbu.CA_HTSDescription
		,TBU.US_HTSDescription
		,tbu.ShippingContainerID
		,tbu.Batchs 
		,tbu.CodigosGeneracion
		
	from(
				SELECT   
					tb1.[ShippingContainerID]
					,tb1.[CA_HTSCode]
					,tb1.[CA_HTSDescription]
					,tb1.US_HTSDescription
					,STUFF(
						(SELECT ','  + tb2.Batch
						FROM 
							(
							SELECT 
								ta.CA_HTSCode
								,ta.CA_HTSDescription
								,ta.US_HTSDescription
								,ta.ShippingContainerID
								,ta.Batch
							FROM #TB_ShimpentBoxItems AS ta
							GROUP BY ta.CA_HTSCode,ta.CA_HTSDescription,ta.US_HTSDescription, ta.ShippingContainerID,ta.Batch
							) as tb2
						WHERE (tb2.ShippingContainerID = tb1.ShippingContainerID) AND (tb2.[CA_HTSCode] = tb1.[CA_HTSCode]) AND (tb2.[CA_HTSDescription] = tb1.[CA_HTSDescription]) and (tb2.US_HTSDescription = tb1.US_HTSDescription)

						FOR XML PATH('')),

					--1, 2, '') As Batchs
					1, 1, '') As Batchs
					,STUFF(
						(SELECT ',		'  + tb2.CodigoGeneracion
						FROM 
							(
							select ta.CA_HTSCode,ta.CA_HTSDescription,ta.US_HTSDescription ,ta.ShippingContainerID,ta.Batch,DFE.codigoGeneracion AS CodigoGeneracion
							from #TB_ShimpentBoxItems AS ta
							INNER JOIN [AppsLCA].[dbo].[DTE_FACTURAS_ELECTRONICAS] DFE WITH (NOLOCK) ON ta.WayBill = DFE.factura AND ta.Batch =  DFE.items AND DFE.invalidado = 0
							group by ta.CA_HTSCode,ta.CA_HTSDescription,ta.US_HTSDescription, ta.ShippingContainerID,ta.Batch,DFE.codigoGeneracion
							) as tb2

						WHERE (tb2.ShippingContainerID = tb1.ShippingContainerID) AND (tb2.[CA_HTSCode] = tb1.[CA_HTSCode]) AND (tb2.[CA_HTSDescription] = tb1.[CA_HTSDescription]) and (tb2.US_HTSDescription = tb1.US_HTSDescription)

						FOR XML PATH('')),
			--1, 2, '') As Batchs
			1, 1, '') As CodigosGeneracion
	FROM #TB_ShimpentBoxItems AS tb1 WITH(NOLOCK)
	group by 
		tb1.ShippingContainerID
		,tb1.[CA_HTSCode]
		,tb1.[CA_HTSDescription]
		,tb1.US_HTSDescription
				)as tbu
				group by tbu.CA_HTSCode,tbu.CA_HTSDescription,TBU.US_HTSDescription, tbu.ShippingContainerID,tbu.Batchs,tbu.CodigosGeneracion 
	) as tb3 on tb3.ShippingContainerID = tb.ShippingContainerID and tb3.CA_HTSCode = tb.CA_HTSCode and tb3.CA_HTSDescription = tb.CA_HTSDescription and tb3.US_HTSDescription = tb.US_HTSDescription

	left join (
		select 
		tb6.ShippingContainerID
		,tb6.TotalBatchs 
		,tb6.TotalCodigoGeneracion
		
	from(
	SELECT   
			tb4.ShippingContainerID
			,STUFF(
				(SELECT ','  + tb5.Batch
				FROM 
					(
					select ta.ShippingContainerID,ta.Batch
					from #TB_ShimpentBoxItems AS ta
					group by  ta.ShippingContainerID,ta.Batch
					) as tb5

				WHERE (tb5.ShippingContainerID = tb4.ShippingContainerID)

				FOR XML PATH('')),

			--1, 2, '') As TotalBatchs
			1, 1, '') As TotalBatchs
			,STUFF(
				(SELECT ','  + tb5.codigoGeneracion
				FROM 
					(
					select ta.ShippingContainerID,DFE.codigoGeneracion
					from #TB_ShimpentBoxItems AS ta
					INNER JOIN [AppsLCA].[dbo].[DTE_FACTURAS_ELECTRONICAS] DFE WITH (NOLOCK) ON ta.WayBill = DFE.factura AND ta.Batch =  DFE.items AND DFE.invalidado = 0
					group by  ta.ShippingContainerID,DFE.codigoGeneracion
					) as tb5

				WHERE (tb5.ShippingContainerID = tb4.ShippingContainerID)

				FOR XML PATH('')),

			--1, 2, '') As TotalBatchs
			1, 1, '') As TotalCodigoGeneracion
	FROM #TB_ShimpentBoxItems AS tb4 WITH(NOLOCK)
	group by 
		tb4.ShippingContainerID
	) as tb6

	) as tb7 on tb7.ShippingContainerID = tb.ShippingContainerID

	) as tb8
	group by
		tb8.ShippingContainerID
		,tb8.ContainerNumber
		,tb8.CA_HTSCode
		,tb8.CA_HTSDescription
		,tb8.US_HTSDescription
		,tb8.[CountryOfOrigin]
