USE [AppsLCA]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Import_Export_Commercial_Invoice]    Script Date: 13/06/2025 09:16:30 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CREATE PROCEDURE [dbo].[sp_Update_Import_Export_Commercial_Invoice_WithDetails]
-- AS
BEGIN

Declare @WayBill varchar(100) = null
Declare @Status varchar(100) = null
Declare @Pending_Date datetime = null
Declare @Executing_Date datetime = null
Declare @Finished_Date datetime=null
Declare @TransferVal INT = 0

SET @WayBill = 'HW-20251111'
-- declare WayBill_status cursor for select  * from [192.168.1.53].[AppsLCA].[dbo].[ImportExport_CommercialInvoice_Status]
-- 		where status='Pending'

-- open WayBill_status
-- Fetch next from WayBill_status into  @Waybill, @Status, @Pending_Date, @Executing_date, @Finished_Date

-- while @@Fetch_status=0
-- 	begin

-- --  delete from appslca.dbo.Import_Export_CommercialInvoice_TEST where WayBill =@WayBill
-- delete from appslca.dbo.Import_Export_CommercialInvoice where WayBill =@WayBill
-- delete from AppsLCA.dbo.Import_Export_DeclarationExport where WayBill =@WayBill
delete from appslca.dbo.CI_Import_Export_CommercialInvoice where WayBill =@WayBill
delete from AppsLCA.dbo.CI_Import_Export_DeclarationExport where WayBill =@WayBill
--  update [192.168.1.53].[AppsLCA].[dbo].[ImportExport_CommercialInvoice_Status] set [Status] = 'Executing', Executing_Date=getdate() 
--  	where waybill =@WayBill

-----COMMERCIAL INVOICE


DROP TABLE IF EXISTS #TB_Transfer_Kardex
DROP TABLE IF EXISTS #TB_DataCI
DROP TABLE IF EXISTS #TB_Transfer
DROP TABLE IF EXISTS #TB_ContentFabric

SELECT *
INTO #TB_Transfer_Kardex
FROM [192.168.1.53].[AppsLCA].[dbo].[TB_Transfer_Kardex_Duty] WITH(NOLOCK)
WHERE Waybill = @WayBill

SELECT *
INTO #TB_ContentFabric
FROM 
(
	select distinct Style, StyleColorName, DescribeText, InvoicingDescription	
	from [192.168.1.53].[LCA].[dboReaders].[VW_CommercialInvoice_FabricContent_Ver2]  with (nolock)
	where RowN = 1
) AS FabCont

CREATE INDEX Style_TB_ContentFabric ON #TB_ContentFabric (Style)

SET @TransferVal = (SELECT COUNT(*) FROM #TB_Transfer_Kardex WHERE QtyTransfer > 0)

--- UPDATE a Import para que no vayan campos vacíos

UPDATE TI SET
	ArrivalDate = CD.ArrivalDate
	,DepartureDate = CD.DepartureDate
	,DestinationPort = CD.DeparturePort
	,PortOfLoading = CD.ArrivalPort
	--select *
FROM [192.168.1.53].AppsLCA.dbo.TB_Transfer_Import_Duty AS TI
INNER JOIN [192.168.1.53].LCA.dbo.CustomDeclarations as CD ON TI.CustomDeclarationID = CD.CustomDeclarationID
WHERE ManufactureID IN
(SELECT DISTINCT RO_ID FROM [192.168.1.53].AppsLCA.dbo.TB_Transfer_Kardex_Duty WHERE Waybill = @WayBill)
AND TI.DepartureDate IS NULL

--- Pre ingreso de datos en #TB_DataCI para evitar contar cajas 2 veces

	SELECT 
		WB99.*			
		,[Cafta]					=	CASE WHEN WB99.[TariffCategory] ='CAFTA' THEN 'Y' 	ELSE 'N' END
		,[Orden]					=	CASE WHEN WB99.[TariffCategory] ='CAFTA' THEN 1 	ELSE 2 END
		,[GroupBox]					=	ROW_NUMBER() OVER(PARTITION BY WB99.[FormattedBoxNumber] ORDER BY WB99.[FormattedBoxNumber])
		,[GroupPallet]				=	ROW_NUMBER() OVER (PARTITION BY WB99.[PalletNumber] ORDER BY WB99.[PalletNumber])
		,[DocumentID]				=	CASE WHEN WB99.[TariffCategory] ='CAFTA' THEN 'C' 	ELSE 'NC' END
	INTO #TB_DataCI
	FROM 
	(
		SELECT 
			 [ShipDate]					=	SB.[ShipDate]
			,[Waybill]					=	SB.[Waybill]
			,[Container]				=	SB.[Container]
			,[InvoiceBatch]				=	SB.[InvoiceBatch]
			,[Batch]					=	SB.[Batch]
			,[PONumber]					=	SB.[PONumber]
			,[BoxNumber]				=	SB.[BoxNumber]
			,[FormattedBoxNumber]		=	TB_GROUP.[FormattedBoxNumber]			
			,[StyleNumber]				=	SB.[StyleNumber]
			,[StyleColor]				=	SB.[StyleColor]
			,[Size]						=	SB.[Size]
			,[PalletNumber]				=	TB_GROUP.[PalletNumber]
			,[Price]					=	SB.[Price]
			,[BasePrice]				=	SB.[BasePrice]
			,[Screen_Print]				=	SB.Screen_Print
			,[Total_Screen_Print]		=	SB.Total_Screen_Print
			,[Embroidery]				=	SB.Embroidery
			,[Total_Embroidery]			=	SB.Total_Embroidery
			,[Sublimation]				=	SB.Sublimation
			,[Total_Sublimation]		=	SB.Total_Sublimation
			,[DecorationSP]				=	CASE WHEN SB.[Screen_Print] > 0 THEN 'SCREENPRINT' ELSE NULL END
			,[DecorationEMB]			=	CASE WHEN SB.[Embroidery] > 0 THEN 'EMBROIDERY' ELSE NULL END
			,[DecorationSUB]			=	CASE WHEN SB.[Sublimation] > 0 THEN 'SUBLIMATION' ELSE NULL END
			,[DecorationPack]			=	CASE WHEN SB.[Sublimation] = 0 AND SB.[Embroidery] = 0 AND SB.[Screen_Print] = 0 THEN 'PACKAGING AND LABELING' ELSE NULL END
			,[UnitDecorationExport]		= 	SB.Screen_Print  + SB.Embroidery + SB.Sublimation
			,[TotalDecorationExport]	=	SB.Total_Screen_Print + SB.Total_Embroidery + SB.Total_Sublimation
			,[TotalExport]				=	SB.Total$
			,[TotalPrice]				=	SB.Price * CASE 
															WHEN TK.IDExport IS NOT NULL THEN 0
															ELSE SB.Qty
														END
			,[CA_HTSCode]				=	case 
												when lmn.CA_HTSCode is not null then lmn.CA_HTSCode
												when lmn.CA_HTSCode is null and lmn.US_HTSCode is not null then lmn.US_HTSCode
												else   SB.[SAC] 
											end
			,[CA_HTSDescription]		=	SB.[HTSDescription]
			,[US_HTSCode]				=	case 
												when lmn.US_HTSCode is not null then lmn.US_HTSCode
												when lmn.US_HTSCode is null and lmn.CA_HTSCode is not null then lmn.CA_HTSCode
												else   TB_GROUP.[US_HTSCode] 
											end 
			,[US_HTSDescription]		=	TB_GROUP.US_HTSDescription
			,[InvoicingDescription]		=	case 
												when SB.ManufactureID is not null 
														and (FabCont.DescribeText is not null or FabCont.InvoicingDescription is not null)
														then  concat(FabCont.DescribeText, ' ',FabCont.InvoicingDescription)
												when FabCont2.DescribeText is not null or FabCont2.InvoicingDescription is not null
														then  concat(FabCont2.DescribeText, ' ',FabCont2.InvoicingDescription)
												else TB_GROUP.[InvoicingDescription]
											end
			,[GrossWeightKGSXUnits]		=	ROUND(SB.[Gross_Weight_kgs],3)
			,[Quantity]					=	CASE 
												WHEN TK.IDExport IS NOT NULL THEN 0
												ELSE SB.Qty
											END
			,[Manufacturer]				=	COALESCE(SB.Manufacturer, TB_MO_02.Manufacturer,TB_MO_2.Manufacturer)
			,[CountryOfOrigin]			=	COALESCE(SB.CountryOfOrigin, TB_MO_02.CountryOfOrigin,TB_MO_2.CountryOfOrigin)
			,[ProductDivision]			=	ST.Comments9
			,[US_HTSCode2]				=	case 
												when ST.Comments9 not like '%Head%' then HTS.US_HTSCode 
												else null 
											end 
			,[TariffCategory]			=	case 
												when TB_MO_02.TariffCategory is not null or TB_MO_2.TariffCategory is not null
													then COALESCE(
															TRIM(REPLACE(REPLACE(REPLACE(REPLACE(TB_MO_02.TariffCategory, CHAR(10), ''), CHAR(9), ''), CHAR(13), ''),CHAR(32),''))
															,TRIM(REPLACE(REPLACE(REPLACE(REPLACE(TB_MO_2.TariffCategory, CHAR(10), ''), CHAR(9), ''), CHAR(13), ''),CHAR(32),''))
															)
												else TRIM(REPLACE(REPLACE(REPLACE(REPLACE(TMO_APri.comments16, CHAR(10), ''), CHAR(9), ''), CHAR(13), ''),CHAR(32),''))

											end 
			,[RO_ID]					=	SB.RO_ID
			,[RO]						=	SB.RO
			,[ManufactureID]			=	SB.ManufactureID
			,[MO]						=	SB.MO
			,[IDExport]					=	SB.ID
			--select *
		FROM 
		(
			SELECT  
					WayBill
				,BoxNumber
				,FormattedBoxNumber
				,StyleNumber
				,StyleColor
				,GarmentSize
				,PalletNumber 	=	CASE WHEN Bin IS NOT NULL THEN Bin ELSE PalletNumber END
				,US_HTSCode
				,US_HTSDescription
				,InvoicingDescription
				,GrossWeightKGSXUnits
			FROM [192.168.1.53].[AppsLCA].[dbo].[ImportExport_ShipmentBoxAll] with (nolock)
			-- FROM [AppsLCA].[dbo].[ImportExport_ShipmentBoxAll] with (nolock)
			WHERE WayBill IN (@WayBill) --'AIR20240409'
			GROUP BY WayBill 
					,BoxNumber
					,FormattedBoxNumber
					,StyleNumber
					,StyleColor
					,GarmentSize
					,PalletNumber
					,Bin
					,US_HTSCode
					,US_HTSDescription
					,InvoicingDescription
					,GrossWeightKGSXUnits
		) AS TB_GROUP
		INNER JOIN	[192.168.1.53].[AppsLCA].[dbo].[ImportExport_AnexoFacturacion]		AS SB	WITH(NOLOCK)	ON SB.Waybill = TB_GROUP.WayBill AND SB.BoxNumber = TB_GROUP.BoxNumber 
		-- INNER JOIN	[AppsLCA].[dbo].[ImportExport_AnexoFacturacion]		AS SB	WITH(NOLOCK)	ON SB.Waybill = TB_GROUP.WayBill AND SB.BoxNumber = TB_GROUP.BoxNumber 
																																	AND SB.StyleNumber = TB_GROUP.StyleNumber 
																																	AND SB.StyleColor = TB_GROUP.StyleColor
																																	AND SB.Size = TB_GROUP.GarmentSize
		left outer join (Select * from 
								(select Color, Style, CA_HTSCode, US_HTSCode from 
												(select RW.PartNumber, RW.HTSCodeID, Col.ColorName as Color, CL.ComponentName as Style,
												DRD.DropDownValue as CA_HTSCode, DRD.Description3 as US_HTSCode	,
												row_number() over(partition by Col.ColorName, CL.ComponentName order by Col.ColorName, CL.ComponentName) as Cuenta
													FROM [192.168.1.53].[LCA].[dbo].[RawMaterials]  RW with (nolock)
													left outer join [192.168.1.53].lca.dbo.Colors COL with (nolock)
														on RW.ColorID = Col.ColorID
													left outer join [192.168.1.53].lca.dbo.ComponentLibrary CL with (nolock)
														on RW.ComponentID = CL.ComponentID and CL.ComponentCategoryID=11
													left outer join [192.168.1.53].lca.dbo.DropDownValues DRD with (nolock)
														on RW.HTSCodeID = DRD.DropDownValueID
													where Cl.ComponentName is not null and Col.ColorName is not null
												) abc123 where Cuenta=1
								) fgh
						) lmn	on SB.StyleNumber = lmn.Style and SB.StyleColor=lmn.Color

		left outer join [192.168.1.53].lca.dbo.ManufactureOrders TMO_APri with (nolock) 
				ON SB.ManufactureID = TMO_APri.manufactureid
		left outer join [192.168.1.53].lca.dbo.OrderItems ODT_PRI with (nolock)
				on TMO_APri.FirstOrderItemID = ODT_PRI.OrderItemID   and
					TMO_APri.OrderID = ODT_PRI.OrderID 
		LEFT JOIN [192.168.1.53].LCA.dbo.Styles AS ST WITH(NOLOCK) ON ODT_PRI.StyleID = ST.StyleID

		LEFT JOIN [192.168.1.53].LCA.dbo.Styles AS BST WITH(NOLOCK) ON BST.StyleID = ST.BlankStyleID
		
		left outer join [192.168.1.53].lca.dbo.HTSStyleCodes HTS with (nolock) on st.HTSStyleCodeID = HTS.HTSStyleCodeID 
		
		left outer join #TB_ContentFabric AS FabCont
				on BST.StyleNumber = FabCont.Style and SB.StyleColor = FabCont.StyleColorName

		left outer join #TB_ContentFabric AS  FabCont2
				on SB.StyleNumber = FabCont2.Style and SB.StyleColor = FabCont2.StyleColorName
		
		left outer join 
		(
			select ManufactureId, CountryOfOrigin , Manufacturer, TariffCategory,Category,Style,Size
				from 
					(
						select ManufactureId, CountryOfOrigin , Manufacturer, TariffCategory,Category,Style,Size,
							row_number() over(Partition by Manufactureid, Size 
							order by  Manufactureid, Size, Consumption desc )
							as Ncuenta
						from [192.168.1.53].appslca.dbo.TB_MO_PartNumber_IM_Summary with (nolock)
						where (Size is not null and rtrim(Size)<>'')
						--and mo in('RO123021CCW115-837-5','TO1018CCW115-837-1')  --='EO3902696-BKH' mo='EO3774316-LBL'
							group by ManufactureId, 
								CountryOfOrigin , 
								Manufacturer,
								TariffCategory,
								Category,
								Style, Size, Consumption
					) TB_MO_01
				where Ncuenta=1
		) TB_MO_02
		ON SB.RO_ID = TB_MO_02.ManufactureID and
			SB.StyleNumber = TB_MO_02.Style and
			SB.Size = TB_MO_02.Size

		left outer join 
				(select distinct ManufactureId, CountryOfOrigin , Manufacturer, TariffCategory,Category
					from 
						(	Select * from (
											select *,row_number() over (partition by Manufactureid order by Manufactureid, consumption desc ) as Cuenta
													from [192.168.1.53].appslca.dbo.TB_MO_PartNumber_IM_Summary with (nolock)
											where (Size is null or rtrim(Size)='') and category='Fabric'
											--and mo in ('RO123021CCW115-837-5','TO1018CCW115-837-1')
										) SubFabric01 where Cuenta =1
							union all
					
							SELECT * FROM (
											select *, row_number() over (partition by Manufactureid order by Manufactureid, consumption desc ) as Cuenta
											from [192.168.1.53].appslca.dbo.TB_MO_PartNumber_IM_Summary with (nolock)
											where (Size is null or rtrim(Size)='') and category='Contracts'
											--and mo in ('RO123021CCW115-837-5','TO1018CCW115-837-1')
											)SubContract WHERE Cuenta =1
						) TB_MO_1
					--where TB_MO_1.ncuenta=1
				) TB_MO_2
				ON SB.ManufactureID = TB_MO_2.ManufactureID 

			LEFT JOIN #TB_Transfer_Kardex AS TK ON SB.ID = TK.IDExport

	) AS WB99
	WHERE Quantity > 0

--- Pre ingreso de datos en #TB_Transfer para evitar contar cajas 2 veces
	
	SELECT 
		 WB99.*			
		,[Cafta]					=	CASE WHEN WB99.[TariffCategory] ='CAFTA' THEN 'Y' 	ELSE 'N' END
		,[Orden]					=	3
		,[GroupBox]					=	ROW_NUMBER() OVER(PARTITION BY WB99.[FormattedBoxNumber] ORDER BY WB99.[FormattedBoxNumber])
		,[GroupPallet]				=	ROW_NUMBER() OVER (PARTITION BY WB99.[PalletNumber] ORDER BY WB99.[PalletNumber])
		,[DocumentID]				=	'9802'
	INTO #TB_Transfer
	FROM
	(
		SELECT 
			[ShipDate]					=	TE.[ShipDate]
			,[Waybill]					=	TE.[Waybill]
			,[Container]				=	TB_GROUP.[Container]
			,[InvoiceBatch]				=	TE.[InvoiceBatch]
			,[Batch]					=	TE.[Batch]
			,[PONumber]					=	TE.[PONumber]
			,[BoxNumber]				=	TE.[BoxNumber]
			,[FormattedBoxNumber]		=	TB_GROUP.[FormattedBoxNumber]
			,[StyleNumber]				=	TE.[StyleNumber]
			,[StyleColor]				=	TE.[StyleColor]
			,[Size]						=	TE.[Size]
			,[PalletNumber]				=	TB_GROUP.[PalletNumber]
			,[Price]					=	TE.[Price]
			,[BasePrice]				=	SB.[BasePrice]
			,[Screen_Print]				=	SB.Screen_Print
			,[Total_Screen_Print]		=	SB.Total_Screen_Print
			,[Embroidery]				=	SB.Embroidery
			,[Total_Embroidery]			=	SB.Total_Embroidery
			,[Sublimation]				=	SB.Sublimation
			,[Total_Sublimation]		=	SB.Total_Sublimation
			,[DecorationSP]				=	CASE WHEN COALESCE(SB.[Screen_Print],0) > 0 THEN 'SCREENPRINT' ELSE NULL END
			,[DecorationEMB]			=	CASE WHEN COALESCE(SB.[Embroidery],0) > 0 THEN 'EMBROIDERY' ELSE NULL END
			,[DecorationSUB]			=	CASE WHEN COALESCE(SB.[Sublimation],0) > 0 THEN 'SUBLIMATION' ELSE NULL END
			,[DecorationPack]			=	CASE WHEN COALESCE(SB.[Sublimation],0) = 0 AND COALESCE(SB.[Embroidery],0) = 0 AND COALESCE(SB.[Screen_Print],0) = 0 THEN 'PACKAGING AND LABELING' ELSE NULL END
			,[UnitDecorationExport]		= 	COALESCE(SB.Screen_Print,0)  + COALESCE(SB.Embroidery,0) + COALESCE(SB.Sublimation,0)
			,[UnitDecorationValue]		=	IIF(COALESCE(TE.[Unit Decoration],0) = 0,0.00,TE.[Unit Decoration]) 
			,[TotalDecorationExport]	=	COALESCE(SB.Total_Screen_Print,0) + COALESCE(SB.Total_Embroidery,0) + COALESCE(SB.Total_Sublimation,0)
			,[TotalDecorationValue]		=	(TK.QtyExport * COALESCE(TE.[Unit Decoration],0.00)) + IIF(COALESCE(TE.[Unit Decoration],0.00) = 0.00 OR COALESCE(TE.[Unit Decoration],0.00) IS NULL, (TK.QtyExport * 0.08) , 0)
			,[TotalExport]				=	TE.Total$
			,[TotalPrice]				=	TE.Price * TK.QtyExport
			,[CA_HTSCode]				=	case 
												when lmn.CA_HTSCode is not null then lmn.CA_HTSCode
												when lmn.CA_HTSCode is null and lmn.US_HTSCode is not null then lmn.US_HTSCode
												else   SB.[SAC] 
											end
			,[CA_HTSDescription]		=	TE.[HTSDescription]
			,[US_HTSCode]				=	case 
												when lmn.US_HTSCode is not null then lmn.US_HTSCode
												when lmn.US_HTSCode is null and lmn.CA_HTSCode is not null then lmn.CA_HTSCode
												else   TB_GROUP.[US_HTSCode] 
											end 
			,[US_HTSDescription]		=	TB_GROUP.US_HTSDescription
			,[InvoicingDescription]		=	case 
												when TE.ManufactureID is not null 
													and (FabCont.DescribeText is not null or FabCont.InvoicingDescription is not null)
													then  concat(FabCont.DescribeText, ' ',FabCont.InvoicingDescription)
												when FabCont2.DescribeText is not null or FabCont2.InvoicingDescription is not null
													then  concat(FabCont2.DescribeText, ' ',FabCont2.InvoicingDescription)
												else TB_GROUP.[InvoicingDescription]
											end
			,[GrossWeightKGSXUnits]		=	ROUND(SB.[Gross_Weight_kgs],3)
			,[Quantity]					=	TK.QtyExport
												
			,[Manufacturer]				=	COALESCE(TI.Manufacturer, TB_MO_02.Manufacturer,TB_MO_2.Manufacturer)
			,[CountryOfOrigin]			=	COALESCE(TI.CountryOfOriginName, TB_MO_02.CountryOfOrigin,TB_MO_2.CountryOfOrigin)
			,[ProductDivision]			=	ST.Comments9 
			,[US_HTSCode2]				=	case 
												when ST.Comments9 not like '%Head%' then HTS.US_HTSCode 
												else null 
											end 
			,[TariffCategory]			=	case 
												when TB_MO_02.TariffCategory is not null or TB_MO_2.TariffCategory is not null
													then COALESCE(
															TRIM(REPLACE(REPLACE(REPLACE(REPLACE(TB_MO_02.TariffCategory, CHAR(10), ''), CHAR(9), ''), CHAR(13), ''),CHAR(32),''))
															,TRIM(REPLACE(REPLACE(REPLACE(REPLACE(TB_MO_2.TariffCategory, CHAR(10), ''), CHAR(9), ''), CHAR(13), ''),CHAR(32),''))
															)
												else TRIM(REPLACE(REPLACE(REPLACE(REPLACE(TMO_APri.comments16, CHAR(10), ''), CHAR(9), ''), CHAR(13), ''),CHAR(32),''))

											end 
			,[RO_ID]					=	SB.RO_ID
			,[RO]						=	SB.RO
			,[ManufactureID]			=	SB.ManufactureID
			,[MO]						=	SB.MO
			,[IDExport] 				=	TE.ID
			,[IDImport] 				=	TK.IDImport
			,[IDKardex] 				=	TK.IDKardex
			,[IM5]						=	TI.IM5
			,[DeclarationDate]			=	TI.DeclarationDate
			,[ArrivalDate]				=	TI.ArrivalDate
			,[DepartureDate]			=	TI.DepartureDate
			,[PortOfLoading]			=	TI.PortOfLoading

		FROM 
		(
			SELECT  
				WayBill
				,ContainerNumber AS Container
				,BoxNumber
				,FormattedBoxNumber
				,StyleNumber
				,StyleColor
				,GarmentSize
				,PalletNumber 	=	CASE WHEN Bin IS NOT NULL THEN Bin ELSE PalletNumber END
				,US_HTSCode
				,US_HTSDescription
				,InvoicingDescription
				,GrossWeightKGSXUnits
			FROM [192.168.1.53].[AppsLCA].[dbo].[ImportExport_ShipmentBoxAll] with (nolock)
			WHERE WayBill IN (@WayBill) --'AIR20240409'
			GROUP BY WayBill 
					,ContainerNumber
					,BoxNumber
					,FormattedBoxNumber
					,StyleNumber
					,StyleColor
					,GarmentSize
					,PalletNumber
					,Bin
					,US_HTSCode
					,US_HTSDescription
					,InvoicingDescription
					,GrossWeightKGSXUnits
		) AS TB_GROUP
		INNER JOIN	[192.168.1.53].[AppsLCA].[dbo].[TB_Transfer_Export_Duty]		AS TE	WITH(NOLOCK)	ON TE.Waybill = TB_GROUP.WayBill AND TE.BoxNumber = TB_GROUP.BoxNumber 
																																AND TE.StyleNumber = TB_GROUP.StyleNumber 
																																AND TE.StyleColor = TB_GROUP.StyleColor
																																AND TE.Size = TB_GROUP.GarmentSize
																																AND TE.[status] = 1
		INNER JOIN  [192.168.1.53].[AppsLCA].[dbo].[ImportExport_AnexoFacturacion]	AS SB	WITH(NOLOCK) ON TE.ID = SB.ID
		LEFT JOIN #TB_Transfer_Kardex AS TK ON TK.IDExport = TE.ID
		LEFT JOIN [192.168.1.53].[AppsLCA].[dbo].[TB_Transfer_Import_Duty]		AS TI	WITH(NOLOCK)	ON TI.ID = TK.IDImport
																																
		left outer join (Select * from 
								(select Color, Style, CA_HTSCode, US_HTSCode from 
												(select RW.PartNumber, RW.HTSCodeID, Col.ColorName as Color, CL.ComponentName as Style,
												DRD.DropDownValue as CA_HTSCode, DRD.Description3 as US_HTSCode	,
												row_number() over(partition by Col.ColorName, CL.ComponentName order by Col.ColorName, CL.ComponentName) as Cuenta
													FROM [192.168.1.53].[LCA].[dbo].[RawMaterials]  RW with (nolock)
													left outer join [192.168.1.53].lca.dbo.Colors COL with (nolock)
														on RW.ColorID = Col.ColorID
													left outer join [192.168.1.53].lca.dbo.ComponentLibrary CL with (nolock)
														on RW.ComponentID = CL.ComponentID and CL.ComponentCategoryID=11
													left outer join [192.168.1.53].lca.dbo.DropDownValues DRD with (nolock)
														on RW.HTSCodeID = DRD.DropDownValueID
													where Cl.ComponentName is not null and Col.ColorName is not null
												) abc123 where Cuenta=1
								) fgh
						) lmn	on TE.StyleNumber = lmn.Style and TE.StyleColor=lmn.Color

		left outer join [192.168.1.53].lca.dbo.ManufactureOrders TMO_APri with (nolock) 
				ON TE.ManufactureID = TMO_APri.manufactureid
		left outer join [192.168.1.53].lca.dbo.OrderItems ODT_PRI with (nolock)
				on TMO_APri.FirstOrderItemID = ODT_PRI.OrderItemID   and
					TMO_APri.OrderID = ODT_PRI.OrderID 
		LEFT JOIN [192.168.1.53].LCA.dbo.Styles AS ST WITH(NOLOCK) ON ODT_PRI.StyleID = ST.StyleID

		LEFT JOIN [192.168.1.53].LCA.dbo.Styles AS BST WITH(NOLOCK) ON BST.StyleID = ST.BlankStyleID
		
		left outer join [192.168.1.53].lca.dbo.HTSStyleCodes HTS with (nolock) on st.HTSStyleCodeID = HTS.HTSStyleCodeID 
		
		left outer join #TB_ContentFabric AS FabCont
				on BST.StyleNumber = FabCont.Style and TE.StyleColor = FabCont.StyleColorName

		left outer join #TB_ContentFabric AS FabCont2
				on TE.StyleNumber = FabCont2.Style and TE.StyleColor = FabCont2.StyleColorName
		
		left outer join 
		(
			select ManufactureId, CountryOfOrigin , Manufacturer, TariffCategory,Category,Style,Size
				from 
					(
						select ManufactureId, CountryOfOrigin , Manufacturer, TariffCategory,Category,Style,Size,
							row_number() over(Partition by Manufactureid, Size 
							order by  Manufactureid, Size, Consumption desc )
							as Ncuenta
						from [192.168.1.53].appslca.dbo.TB_MO_PartNumber_IM_Summary with (nolock)
						where (Size is not null and rtrim(Size)<>'')
						--and mo in('RO123021CCW115-837-5','TO1018CCW115-837-1')  --='EO3902696-BKH' mo='EO3774316-LBL'
							group by ManufactureId, 
								CountryOfOrigin , 
								Manufacturer,
								TariffCategory,
								Category,
								Style, Size, Consumption
					) TB_MO_01
				where Ncuenta=1
		) TB_MO_02
		ON TE.RO_ID = TB_MO_02.ManufactureID and
			TE.StyleNumber = TB_MO_02.Style and
			TE.Size = TB_MO_02.Size

		left outer join 
				(select distinct ManufactureId, CountryOfOrigin , Manufacturer, TariffCategory,Category
					from 
						(	Select * from (
											select *,row_number() over (partition by Manufactureid order by Manufactureid, consumption desc ) as Cuenta
													from [192.168.1.53].appslca.dbo.TB_MO_PartNumber_IM_Summary with (nolock)
											where (Size is null or rtrim(Size)='') and category='Fabric'
											--and mo in ('RO123021CCW115-837-5','TO1018CCW115-837-1')
										) SubFabric01 where Cuenta =1
							union all
					
							SELECT * FROM (
											select *, row_number() over (partition by Manufactureid order by Manufactureid, consumption desc ) as Cuenta
											from [192.168.1.53].appslca.dbo.TB_MO_PartNumber_IM_Summary with (nolock)
											where (Size is null or rtrim(Size)='') and category='Contracts'
											--and mo in ('RO123021CCW115-837-5','TO1018CCW115-837-1')
											)SubContract WHERE Cuenta =1
						) TB_MO_1
					--where TB_MO_1.ncuenta=1
				) TB_MO_2
		ON TE.ManufactureID = TB_MO_2.ManufactureID 
	) WB99
	WHERE Quantity > 0

--- UPDATE para evitar contar cajas 2 veces

UPDATE CI
	SET CI.GroupBox =  CASE WHEN CI.GroupBox = 1 THEN 0 ELSE CI.GroupBox END
FROM #TB_DataCI AS CI
INNER JOIN #TB_Transfer AS TR ON CI.FormattedBoxNumber = TR.FormattedBoxNumber


--- INSERT FINAL EN AMBAS TABLAS

-- DROP TABLE IF EXISTS dbo.CI_Import_Export_CommercialInvoice
-- DROP TABLE IF EXISTS dbo.CI_Import_Export_DeclarationExport

INSERT INTO dbo.CI_Import_Export_CommercialInvoice
SELECT  TOP 100 PERCENT 
	TDC.*
-- INTO CI_Import_Export_CommercialInvoice
FROM #TB_DataCI AS TDC
ORDER BY 
		 Orden
		,Cafta DESC
		,CountryOfOrigin
		,StyleNumber
		,Container
		,US_HTSDescription
		,CA_HTSCode
		,Price
		,InvoicingDescription
		,Manufacturer


IF @TransferVal > 0
BEGIN
	INSERT INTO  dbo.CI_Import_Export_DeclarationExport
	SELECT  TOP 100 PERCENT 
		TT.*
	-- INTO CI_Import_Export_DeclarationExport
	FROM #TB_Transfer AS TT
	ORDER BY 
		Orden
		,Cafta DESC
		,CountryOfOrigin
		,StyleNumber
		,Container
		,US_HTSDescription
		,CA_HTSCode
		,Price
		,InvoicingDescription
		,Manufacturer
END
	
-- update [192.168.1.53].[AppsLCA].[dbo].[ImportExport_CommercialInvoice_Status] set [Status] = 'Finished', Finished_Date=getdate() 
-- 	where waybill =@WayBill
	

-- 	Fetch next from WayBill_status into  @Waybill, @Status, @Pending_Date, @Executing_date, @Finished_Date


-- 	end
-- close WayBill_status
-- deallocate WayBill_status

END