USE [AppsLCA]
GO
/****** Object:  StoredProcedure [dbo].[SP_Warehouse_TXT_WithDrawBoxTransferList_RemainingUnits_P]    Script Date: 30/07/2025 09:05:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[SP_Warehouse_TXT_WithDrawBoxTransferList_RemainingUnits_P]
(
     @json      	NVARCHAR(MAX)

)
AS

---Agregado con JH,RR,DP SE AGREGO LA BODEGA 60 EN EL INNER CON IN(35,60)
BEGIN
    
    SET NOCOUNT ON 

--     DECLARE @json      NVARCHAR(MAX)
----    -- DECLARE @var_i			INT
----    -- SET @var_i = 1
--     SET @json = '
--[{"PWModulo":"ASSIGMENT DLI #135 2025-02-11","BoxCode":"PPBX11400754","BoxNumber":"BOX11716232F","BIN":"DF7-1","PPFG":"PPFG1084924","Ord_MO":"EO4293664-450","UnitsRequired":"6","StyleNumber":"BT300","StyleColor":"450","BlankBox":"PPMB1609789","Units":"21","Label":"BT300 M 450 R:6 OH:21 EO4293664-450","Size":"M","OnHandItem":"21","ManufactureID":"558149","QtyPerBox":"6","RowNumber":"11","Datos":"BOX,PPMB1609789,20250211,171709,1,TBUQ,PPBX11400754,PPFG1084924,6","withDrawDate":"2025-02-11 23:17:16","token":"lnbzobesil7275985184089989c686ac51-0c50-462c-9607-87ea49c14b8e"}]
--'
   
-----------------------------------------------------------------
---------------------JSON OBTENIDO-------------------------------
-----------------------------------------------------------------

    SET @json   = REPLACE(@json,'\','')     --Quitamos todas las plecas que van antes de las comillas dobles
    ----SET @json   = CONCAT('[',@json,']')     --Le colocamos [] para utilizarlo en el OPENJSON

    DECLARE @VJson AS NVARCHAR(MAX)         --Variable donde tendremos el Json Obtenido en ese formato
    SET @VJson  = (SELECT JSON_MODIFY(@json,'$.RowNumber',NULL) AS 'Updated JSON')

	--select @VJson
	
	
	--select * from OPENJSON(@VJson)

			-----------===============================================================================================-----------
			-----------===============================DECLARACION DE VARIABLES========================================-----------
			-----------===============================================================================================-----------
					
				---Tabla para almacenar los items enviados.
					DROP TABLE IF EXISTS #TB_DataByItem
					CREATE TABLE #TB_DataByItem (
						 [RowNumber]	INT
						,[BoxNumber]	VARCHAR(100)
						,[BoxCode]		VARCHAR(100)
						,[Style]		VARCHAR(100)
						,[StyleColor]	VARCHAR(100)
						,[Size]			VARCHAR(5)
						,[PPFG]			VARCHAR(100)
					)
					CREATE NONCLUSTERED INDEX IDX_TB_DataByItem_1 ON #TB_DataByItem ([Style], [StyleColor], [Size])
					CREATE NONCLUSTERED INDEX IDX_TB_DataByItem_2 ON #TB_DataByItem ([BoxNumber])

					---Tabla para guardar agrupacion de cajas para obtener inventario activo
					DROP TABLE IF EXISTS #TB_DataByBox
					CREATE TABLE #TB_DataByBox (
						 [RowNumber]		INT
						,[BoxNumber]		VARCHAR(100)
						,[BoxCode]			VARCHAR(100)
						,[Bin]				VARCHAR(100)
						,[Style]			VARCHAR(100)
						,[StyleColor]		VARCHAR(100)
						,[Size]				VARCHAR(10)
						,[PPFG]				VARCHAR(100)
						,[BoxType]			VARCHAR(20)
						,[Fabric]			VARCHAR(20)
						,[QuantityOH]		INT
						,[MinUnits]			INT
						,[FlagTransferencia]	BIT

						-- AÑADIENDO COLUMNAS PARA LOGICA DE TRANSFERENCIA POR NIVEL Y RACK
						,[Nivel]			INT
						,[Rack]				VARCHAR(3)
						,[WarehouseID]		INT
					)
					CREATE NONCLUSTERED INDEX IDX_TB_DataByBox_1 ON #TB_DataByBox ([Style], [StyleColor], [Size])
					CREATE NONCLUSTERED INDEX IDX_TB_DataByBox_2 ON #TB_DataByBox ([BoxNumber])

					---Tabla para almacenar inventario segun estilos proporcionados
					DROP TABLE IF EXISTS #TB_Inventory
					CREATE TABLE #TB_Inventory (
						 [R]					INT
						,[BoxNumber]			VARCHAR(100) 
						,[BoxCode]				VARCHAR(100)
						,[Style]				VARCHAR(100) 
						,[StyleColor]			VARCHAR(100) 
						,[Size]					VARCHAR(100) 
						,[PPFG]					VARCHAR(100)
						,[Bin]					VARCHAR(50) 
						,[MODate]				DATETIME
						,[Sub1]					INT  
						,[Sub2]					VARCHAR(3)  
						,[Sub3]					VARCHAR(3)  
						,[Sub4]					INT
						,[QuantityOH]			INT     
						,[MaxUnits]				INT
						,[MaxBoxQOH]			INT
						,[NewQuantityOH]		INT
						,[NewMaxBoxQOH]			INT
						,[FlagTransferencia]	BIT

						-- AÑADIENDO COLUMNA PARA LOGICA DE TRANSFERENCIA POR NIVEL Y RACK
						,[WarehouseID]			INT
					)
					CREATE NONCLUSTERED INDEX IDX_TB_Inventory_1 ON #TB_Inventory ([Style], [StyleColor], [Size],[PPFG])
					CREATE NONCLUSTERED INDEX IDX_TB_Inventory_2 ON #TB_Inventory ([Style], [StyleColor], [Size])
					CREATE NONCLUSTERED INDEX IDX_TB_Inventory_3 ON #TB_Inventory ([BoxNumber])


					---Tabla de sumatorio de inventario por caja de las cajas del filtro de los estilos, color, size
					DROP TABLE IF EXISTS #TB_BoxInventory
					CREATE TABLE #TB_BoxInventory (
						 [BoxNumber]    VARCHAR(100) 
						,[QuantityOH]   INT     
					)
					CREATE NONCLUSTERED INDEX IDX_TB_BoxInventory_1 ON #TB_Inventory ([BoxNumber])


					---Tabla de Respuesta final 1, que contiene los comentarios de transferencia exitosa o errónea y la caja original, caja de destino, bin de la caja de destino y las unidades a mover
					DROP TABLE IF EXISTS #TB_Response1
					CREATE TABLE #TB_Response1 (
						 [BoxOriginal]				VARCHAR(100) 
						,[BoxDestino]				VARCHAR(100)
						,[BinBoxDestino]			VARCHAR(50) 
						,[StyleNumber]				VARCHAR(100) 
						,[StyleColor]				VARCHAR(100) 
						,[Size]						VARCHAR(100) 
						,[UnidadesTransferidas]		INT     
						,[Flag]						INT
						,[CommentFlag]				NVARCHAR(MAX)
						,[PossibleErrors]			NVARCHAR(MAX)
						,[FinalComponent]			NVARCHAR(MAX)
						,[DatosCSV]					NVARCHAR(MAX)
					)

					---Tabla de Respuesta final 2, que contiene la misma estructura de respuesta que el react espera, con la información de la o las cajas de destino
					DROP TABLE IF EXISTS #TB_Response2
					CREATE TABLE #TB_Response2 (
						 [RowNumber]		    INT
						,[Flag]					INT
						,[CommentFlag]			NVARCHAR(MAX)
						,[PossibleErrors]		NVARCHAR(MAX)
						,[FinalComponent]		NVARCHAR(MAX)
						,[NewLabel]				VARCHAR(100)
						,[BoxCode]				VARCHAR(100)
						,[BoxNumber]			VARCHAR(100)
						,[BIN]					VARCHAR(100)   
						,[PPFG]					VARCHAR(100)
						,[Ord_MO]				VARCHAR(100)
						,[UnitsRequired]		INT
						,[StyleNumber]			VARCHAR(50)
						,[StyleColor]			VARCHAR(50)
						,[Size]					VARCHAR(50)
						,[BlankBox]				VARCHAR(100)
						,[Units]				VARCHAR(100)
						,[Label]				VARCHAR(255)
						,[ManufactureID]		INT
						,[withDrawDate]			DATETIME  
						,[Datos]				VARCHAR(255)
					)
			-----------===============================================================================================-----------
			-----------===============================DECLARACION DE VARIABLES========================================-----------
			-----------===============================================================================================-----------

			
			-----------===============================================================================================-----------
			-----------===============================Inserción de tablas base========================================-----------
			-----------===============================================================================================-----------

				---Tabla de inserción de datos enviados en el json de todos los items seleccionados
					INSERT INTO #TB_DataByItem (
						 [RowNumber]
						,[BoxNumber]
						,[BoxCode]
						,[Style]
						,[StyleColor]
						,[Size]
						,[PPFG]
					)
					(
						SELECT 
							 [RowNumber]	= ISNULL([RowNumber], 0)
							,[BoxNumber]    
							,[BoxCode]
							,[Style]		=  [StyleNumber]
							,[StyleColor]
							,[Size]
							,[PPFG]
						FROM OPENJSON(@VJson)
						WITH (
							 [RowNumber]	INT             'strict $.RowNumber'
							,[BoxNumber]	VARCHAR(100)    'strict $.BoxNumber'
							,[BoxCode]		VARCHAR(100)    'strict $.BoxCode'
							,[StyleNumber]	VARCHAR(100)    'strict $.StyleNumber'
							,[StyleColor]	VARCHAR(100)    'strict $.StyleColor'
							,[Size]			VARCHAR(10)		'strict $.Size'
							,[PPFG]			VARCHAR(100)	'strict $.PPFG'
						)
					)

			-----------===============================================================================================-----------
			-----------===============================Inserción de tablas base========================================-----------
			-----------===============================================================================================-----------

			IF NOT EXISTS (
				SELECT TOP 1 T.*,ST.Comments9 FROM #TB_DataByItem	AS T
					LEFT JOIN LCA.dbo.Styles	AS ST WITH(NOLOCK) ON ST.StyleNumber = T.[Style]
					WHERE ST.Comments9 = 'Headwear'
			)
			BEGIN
				-----------===============================================================================================-----------
				-----------==================================INVENTARIO POR BOX ENVIADAS==================================-----------
				-----------===============================================================================================-----------

				---Tabla para la inserción de inventario de PPM por el filtro de box a los items del json
					INSERT INTO #TB_DataByBox (
						 [BoxNumber]
						,[BoxCode]
						,[Bin]
						,[Style]
						,[StyleColor]
						,[Size]
						,[PPFG]
						,[BoxType]		
						,[QuantityOH]
						,[WarehouseID]
					)
					(
						SELECT
							 [BoxNumber]			= PBB.[BoxNumber]
							,[BoxCode]				= 'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
							,[Bin]					= GB.Bin
							,[Style]				= ST.[StyleNumber]
							,[StyleColor]			= STC.[StyleColorName]
							,[Size]					= FG.[GarmentSize]
							,[PPFG]					= 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
							,[BoxType]				= BXT.BoxTypeName
							,[QuantityOH]			= SUM(PKI.[Quantity])	
							,[WarehouseID]			= WH.[WarehouseID]
						FROM			[LCA].[dbo].[PackedItems]			AS PKI	WITH(NOLOCK)
							INNER JOIN	[LCA].[dbo].[FinishedGoods]		AS FG	WITH(NOLOCK) ON PKI.[FinishedGoodsID] = FG.[FinishedGoodsID] AND PKI.Quantity <> 0
							INNER JOIN	[LCA].[dbo].[Styles] 				AS ST	WITH(NOLOCK) ON FG.[StyleID] = ST.[StyleID]
							INNER JOIN	[LCA].[dbo].[StyleColors] 		AS STC	WITH(NOLOCK) ON FG.[StyleColorID] = STC.[StyleColorID]
							LEFT JOIN	[LCA].[dbo].[StyleOptions] 		AS SO	WITH(NOLOCK) ON FG.[StyleOptionID] = SO.[StyleOptionID] 
							LEFT JOIN	[LCA].[dbo].[OrderDetails] 		AS ODD	WITH(NOLOCK) ON PKI.[OrderDetailsID] = ODD.[OrderDetailsID]
							LEFT JOIN	[LCA].[dbo].[Orders] 				AS ORD 	WITH(NOLOCK) ON ODD.[OrderID] = ORD.[OrderID] 
							INNER JOIN	[LCA].[dbo].[PackedBoxes] 		AS PBB	WITH(NOLOCK) ON PKI.[PackedBoxID] = PBB.[PackedBoxID]	AND PBB.StatusID IN(0, 8, 98, 100)
							INNER JOIN	[LCA].[dbo].[Warehouses] 			AS WH	WITH(NOLOCK) ON PBB.[WarehouseID] = WH.[WarehouseID]		AND WH.WarehouseID IN (35,60) ---Agregado con JH,RM,DP
							LEFT JOIN	[LCA].[dbo].[GoodsBins] 			AS GB	WITH(NOLOCK) ON PBB.[GoodsBinID] = GB.[GoodsBinID] 
							INNER JOIN	[LCA].[dbo].[ManufactureOrders] 	AS MO	WITH(NOLOCK) ON PKI.[ManufactureID] = MO.[ManufactureID]
							LEFT JOIN	[LCA].[dbo].[Seasons] 			AS SNS	WITH(NOLOCK) ON SNS.[SeasonID] = ST.[SeasonID]
							INNER JOIN	[LCA].[dbo].[BoxTypes]			AS BXT	WITH(NOLOCK) ON BXT.BoxTypeID = PBB.BoxTypeID
							INNER JOIN	(	SELECT DISTINCT 
												 [BoxNumber]
											FROM #TB_DataByItem )				AS TB				 ON TB.BoxNumber = PBB.[BoxNumber]
						GROUP BY
							 PBB.[BoxNumber]
							,'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
							,GB.Bin
							,ST.[StyleNumber]
							,STC.[StyleColorName]
							,FG.[GarmentSize]
							,'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
							,BXT.BoxTypeName
							,WH.[WarehouseID]
					)


					---Se coloca el tipo de fabric (Jersy/Fleece) 
					UPDATE TDBB 
					SET TDBB.Fabric = ISNULL(SPB.Fabric,'JERSEY')
					FROM #TB_DataByBox											AS TDBB
					LEFT JOIN AppsLCA.dbo.Planning_DispatchRO_StylePerBox		AS SPB	WITH(NOLOCK) ON  SPB.Style = TDBB.Style
					
					---Se actualiza el mínimo de unidades permitido por tipo de caja y fabric
					UPDATE TDBB 
					SET TDBB.MinUnits = UBT.MinUnits,
						TDBB.FlagTransferencia = IIF(TDBB.QuantityOH <= UBT.MinUnits,1,0) --UBT.MinUnits
					FROM #TB_DataByBox												AS TDBB
					LEFT JOIN AppsLCA.dbo.Planning_DispatchRO_UnitsPerBoxType		AS UBT	WITH(NOLOCK) ON  UBT.BoxType = TDBB.BoxType AND UBT.Fabric = TDBB.Fabric

					UPDATE #TB_DataByBox
					SET RowNumber = RowNum
					FROM (
							SELECT TDBB.*,ROW_NUMBER() OVER (PARTITION BY TDBB.FlagTransferencia ORDER BY TDBI.RowOrden asc) AS RowNum
							FROM #TB_DataByBox AS TDBB
							LEFT JOIN (SELECT BoxNumber, MIN(RowNumber) as RowOrden FROM #TB_DataByItem GROUP BY BoxNumber) AS TDBI ON  TDBI.BoxNumber = TDBB.BoxNumber
				
					) AS TB
					WHERE #TB_DataByBox.BoxNumber = TB.BoxNumber
					
				
					UPDATE #TB_DataByBox
					SET 
					 Nivel = IIF(ISNUMERIC(SUBSTRING([Bin], CHARINDEX('-', [Bin]) + 1, 1)) = 1, SUBSTRING([Bin], CHARINDEX('-', [Bin]) + 1, 1), 1)
					,Rack  = IIF(WarehouseID = 35,SUBSTRING([Bin], 1, 1),SUBSTRING([Bin], 2, 1))

				-----------===============================================================================================-----------
				-----------==================================INVENTARIO POR BOX ENVIADAS==================================-----------
				-----------===============================================================================================-----------
	


				DECLARE @Mensaje AS VARCHAR(100)

				IF NOT EXISTS (SELECT * FROM #TB_DataByBox WHERE FlagTransferencia = 1)
				BEGIN
					--SELECT 'Fin' as Mensaje
					----SELECT * FROM #TB_DataByBox
					--SELECT * FROM #TB_DataByBox WHERE FlagTransferencia = 0
					----SELECT TOP 1 1 FROM #TB_DataByBox WHERE FlagTransferencia = 0

								SELECT 
								 [TransferUnits]		=	(SELECT null as a FOR JSON PATH)
								,[NewBoxes]				=	(SELECT null as b FOR JSON PATH)
								FOR JSON PATH

				END
				ELSE
				BEGIN
												


					-----------===============================================================================================-----------
					-----------==================================INSERT #TB_Inventory=========================================-----------
					-----------===============================================================================================-----------

					---Tabla para la inserción de inventario de PPM por el filtro de estilo, color, size
					INSERT INTO #TB_Inventory (
							 [BoxNumber]
							,[BoxCode]
							,[Style]
							,[StyleColor]
							,[Size]
							,[PPFG]
							,[Bin]
							,[MODate]
							,[QuantityOH]
							,[WarehouseID]
						)
						(
							SELECT 
								 [BoxNumber]	
								,[BoxCode]
								,[Style]
								,[StyleColor]
								,[Size]
								,[PPFG]
								,[Bin]
								,[MODate]
								,[QuantityOH]	
								,[WarehouseID]
							FROM(
								SELECT
									 [Bin]					= GBB.[Bin]
									,[BoxNumber]			= PBB.[BoxNumber]
									,[BoxCode]				= 'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
									,[Style]				= ST.[StyleNumber]
									,[StyleColor]			= STC.[StyleColorName]
									,[Size]					= FG.[GarmentSize]
									,[PPFG]					= 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
									,[MODate]				= MIN(MO.[ManufacturedDate])
									,[QuantityOH]			= SUM(PKI.[Quantity])
									,[WarehouseID]			= WH.[WarehouseID]
								FROM			[LCA].[dbo].[PackedItems]			AS PKI	WITH(NOLOCK)
									INNER JOIN	[LCA].[dbo].[FinishedGoods]		AS FG	WITH(NOLOCK) ON PKI.[FinishedGoodsID] = FG.[FinishedGoodsID] AND PKI.Quantity <> 0
									INNER JOIN	[LCA].[dbo].[Styles] 				AS ST	WITH(NOLOCK) ON FG.[StyleID] = ST.[StyleID]
									INNER JOIN	[LCA].[dbo].[StyleColors] 		AS STC	WITH(NOLOCK) ON FG.[StyleColorID] = STC.[StyleColorID]
									LEFT JOIN	[LCA].[dbo].[StyleOptions] 		AS SO	WITH(NOLOCK) ON FG.[StyleOptionID] = SO.[StyleOptionID] 
									LEFT JOIN	[LCA].[dbo].[OrderDetails] 		AS ODD	WITH(NOLOCK) ON PKI.[OrderDetailsID] = ODD.[OrderDetailsID]
									LEFT JOIN	[LCA].[dbo].[Orders] 				AS ORD 	WITH(NOLOCK) ON ODD.[OrderID] = ORD.[OrderID] 
									INNER JOIN	[LCA].[dbo].[PackedBoxes] 		AS PBB	WITH(NOLOCK) ON PKI.[PackedBoxID] = PBB.[PackedBoxID]	AND PBB.StatusID IN(0, 8, 98, 100)
									INNER JOIN	[LCA].[dbo].[Warehouses] 			AS WH	WITH(NOLOCK) ON PBB.[WarehouseID] = WH.[WarehouseID]		AND WH.WarehouseID IN (35,60)---Agregado con JH,RM,DP
									LEFT JOIN	[LCA].[dbo].[GoodsBins] 			AS GBB	WITH(NOLOCK) ON PBB.[GoodsBinID] = GBB.[GoodsBinID] 
									INNER JOIN	[LCA].[dbo].[ManufactureOrders] 	AS MO	WITH(NOLOCK) ON PKI.[ManufactureID] = MO.[ManufactureID]
									LEFT JOIN	[LCA].[dbo].[Seasons] 			AS SNS	WITH(NOLOCK) ON SNS.[SeasonID] = ST.[SeasonID]
									INNER JOIN	(	SELECT DISTINCT 
														 [Style]
														,[StyleColor]
														,[Size]
														,[PPFG]
													FROM #TB_DataByItem )				AS TB				 ON TB.[Style] = ST.[StyleNumber] 
																												AND TB.[StyleColor] = STC.[StyleColorName] 
																												AND TB.[Size] = FG.[GarmentSize]
																												AND TB.[PPFG] = 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
									LEFT JOIN	(SELECT DISTINCT BoxNumber FROM #TB_DataByBox)	AS DBB				 ON	PBB.BoxNumber = DBB.BoxNumber 
									WHERE DBB.BoxNumber IS NULL
									GROUP BY
										 GBB.[Bin]
										,PBB.[BoxNumber]
										,'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
										,ST.[StyleNumber]
										,STC.[StyleColorName]
										,FG.[GarmentSize]
										,'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
										,WH.[WarehouseID]
								) AS TB
						)

						---Actualización de campos sub1 - sub4 para ordenar el resultado por estos campos, se llenan con un Update debido a que en la consulta se tardaba mucho
						---Cada sub devuelve diverso resultados, pero todo se engloba a ordernar por Bin, el Bin se desglosa y se ordena por los siguientes criterios
						---Sub1 : Obtiene el último dígito del Bin cuando tiene guión (Ejemplo: AB1-1) si no tiene entonces le deja 1, esto es para ordenar por nivel
						---Sub2 : Obtiene la primera letra del Bin para ordenar por Rack
						---Sub3 : Obtiene la segunda letra del Bin para saber si el item está en la parte Back o Front, si no tiene B o F lo manda al final
						---Sub4 : Obtiene el o los números antes del guión y después de las letras, para ordenar del 1 - 10, los que no tienen guión los deja en el 1

						UPDATE #TB_Inventory
							SET 
								 [Sub1] = IIF(ISNUMERIC(SUBSTRING([Bin], CHARINDEX('-', [Bin]) + 1, 1)) = 1, SUBSTRING([Bin], CHARINDEX('-', [Bin]) + 1, 1), 1)
								,[Sub2] = IIF(WarehouseID = 35,SUBSTRING([Bin], 1, 1),SUBSTRING([Bin], 2, 1))
								,[Sub3] = IIF(WarehouseID = 35
										  ,CASE 
												WHEN SUBSTRING([Bin], 2, 1) NOT IN ('B', 'F') THEN 'Z' 
												ELSE SUBSTRING([Bin], 2, 1) 
										   END
										  ,CASE 
												WHEN SUBSTRING([Bin], 3, 1) NOT IN ('B', 'F') THEN 'Z' 
												ELSE SUBSTRING([Bin], 3, 1) 
										   END
										  )
								,[Sub4] = IIF(WarehouseID = 35
												,IIF(
													ISNUMERIC(
														CASE                                                                                  
															WHEN SUBSTRING([Bin], CHARINDEX('-', [Bin]) - 2, 2) != '10' 
																AND ISNUMERIC(SUBSTRING([Bin], 3, 1)) = 1  
																AND SUBSTRING([Bin], 3, 1) <> '.' 
																AND SUBSTRING([Bin], 3, 1) <> '-' 
															THEN SUBSTRING([Bin], 3, 1)
															ELSE SUBSTRING([Bin], CHARINDEX('-', [Bin]) - 2, 2)
														END
													) = 1, 
													CASE                                                                                  
														WHEN SUBSTRING([Bin], CHARINDEX('-', [Bin]) - 2, 2) != '10' 
															AND ISNUMERIC(SUBSTRING([Bin], 3, 1)) = 1  
															AND SUBSTRING([Bin], 3, 1) <> '.' 
															AND SUBSTRING([Bin], 3, 1) <> '-' 
														THEN SUBSTRING([Bin], 3, 1)
														ELSE SUBSTRING([Bin], CHARINDEX('-', [Bin]) - 2, 2)
													END, 
													'1'
												)
											   ,SUBSTRING([Bin],4,2)
											 )

						--- ELIMINAMOS LAS POSIBLES CAJAS DE DESTINO QUE NO ESTÁN EN EL MISMO RACK O ESTANTE, O EN NIVELES SUPERIORES A LA CAJA SELECCIONADA
						DELETE TI
						FROM #TB_Inventory AS TI
						LEFT JOIN #TB_DataByBox AS DB ON DB.Rack = TI.Sub2
						WHERE DB.Rack is null

						DELETE TI
						FROM #TB_Inventory AS TI
						LEFT JOIN #TB_DataByBox AS DB ON TI.Sub1 <= DB.Nivel
						WHERE DB.Nivel is null

					
						-----------===============================================================================================-----------
						-----------==================================INSERT #TB_BoxInventory======================================-----------
						-----------===============================================================================================-----------

						INSERT INTO #TB_BoxInventory (
							 [BoxNumber]
							,[QuantityOH]
						)
						(
							SELECT 
								 [BoxNumber]	
								,[QuantityOH]	
							FROM(
								SELECT
									 [BoxNumber]			= PBB.[BoxNumber]
									,[QuantityOH]			= SUM(PKI.[Quantity])
								FROM			[LCA].[dbo].[PackedItems]			AS PKI	WITH(NOLOCK)
									INNER JOIN	[LCA].[dbo].[FinishedGoods]		AS FG	WITH(NOLOCK) ON PKI.[FinishedGoodsID] = FG.[FinishedGoodsID] AND PKI.Quantity <> 0
									INNER JOIN	[LCA].[dbo].[Styles] 				AS ST	WITH(NOLOCK) ON FG.[StyleID] = ST.[StyleID]
									INNER JOIN	[LCA].[dbo].[StyleColors] 		AS STC	WITH(NOLOCK) ON FG.[StyleColorID] = STC.[StyleColorID]
									LEFT JOIN	[LCA].[dbo].[StyleOptions] 		AS SO	WITH(NOLOCK) ON FG.[StyleOptionID] = SO.[StyleOptionID] 
									LEFT JOIN	[LCA].[dbo].[OrderDetails] 		AS ODD	WITH(NOLOCK) ON PKI.[OrderDetailsID] = ODD.[OrderDetailsID]
									LEFT JOIN	[LCA].[dbo].[Orders] 				AS ORD 	WITH(NOLOCK) ON ODD.[OrderID] = ORD.[OrderID] 
									INNER JOIN	[LCA].[dbo].[PackedBoxes] 		AS PBB	WITH(NOLOCK) ON PKI.[PackedBoxID] = PBB.[PackedBoxID]	AND PBB.StatusID IN(0, 8, 98, 100)
									INNER JOIN	[LCA].[dbo].[Warehouses] 			AS WH	WITH(NOLOCK) ON PBB.[WarehouseID] = WH.[WarehouseID]		AND WH.WarehouseID IN (35,60)
									LEFT JOIN	[LCA].[dbo].[GoodsBins] 			AS GBB	WITH(NOLOCK) ON PBB.[GoodsBinID] = GBB.[GoodsBinID] 
									INNER JOIN	[LCA].[dbo].[ManufactureOrders] 	AS MO	WITH(NOLOCK) ON PKI.[ManufactureID] = MO.[ManufactureID]
									LEFT JOIN	[LCA].[dbo].[Seasons] 			AS SNS	WITH(NOLOCK) ON SNS.[SeasonID] = ST.[SeasonID]
									INNER JOIN	(	SELECT DISTINCT 
														 [BoxNumber]
													FROM #TB_Inventory )				AS TB				 ON TB.BoxNumber = PBB.BoxNumber 
									GROUP BY
										PBB.[BoxNumber]
								) AS TB
						)
					
						--- Actualización de cantidad máxima de unidades que tiene la caja actualmente, máximo de unidades que permite tener el estilo, flag para validar si una caja 
						--- puede recibir transferencia y borrar las cajas que no pueden recibir transferencia
						UPDATE TBI SET TBI.MaxBoxQOH = TBBI.QuantityOH
						FROM #TB_Inventory			AS TBI
						INNER JOIN #TB_BoxInventory AS TBBI ON TBI.BoxNumber = TBBI.BoxNumber

						UPDATE TBI SET  TBI.MaxUnits = SPB.PCS_Box ---100	---CAMBIO TEST
						FROM #TB_Inventory									   AS TBI
						left JOIN AppsLCA.dbo.Planning_DispatchRO_StylePerBox AS SPB WITH(NOLOCK) ON TBI.Style = SPB.Style

						UPDATE TBI SET  TBI.[FlagTransferencia] = IIF(MaxBoxQOH >= MaxUnits,0,1)
						FROM #TB_Inventory									   AS TBI

						DELETE FROM #TB_Inventory WHERE FlagTransferencia = 0

						---Actualiza el ordenamiento para la toma del inventario la cual será actualizada la información en la transferencia por items
						UPDATE #TB_Inventory
						SET [R] = RN
						FROM (
							SELECT *,
								   ROW_NUMBER() OVER (
									   PARTITION BY [Style] 
									   ORDER BY  [Style]		ASC
												,[MODate]		ASC
												,[Sub1]			DESC
												,[Sub2]			ASC
												,[Sub3]			ASC
												,[Sub4]			ASC
												,[QuantityOH]	ASC
								   ) AS RN
							FROM #TB_Inventory
						) AS T
						WHERE #TB_Inventory.[BoxNumber] = T.[BoxNumber]
						AND #TB_Inventory.[Style] = T.[Style]
						AND #TB_Inventory.[Bin] = T.[Bin];


					----	SELECT * FROM #TB_DataByBox 
					--	SELECT * FROM #TB_DataByItem
					------select * from AppsLCA.dbo.Planning_DispatchRO_StylePerBox
					------select * from AppsLCA.dbo.Planning_DispatchRO_UnitsPerBoxType
					----	SELECT * FROM #TB_Inventory order by [R]
					----	SELECT * FROM #TB_BoxInventory
				
					--SELECT * FROM #TB_DataByBox	AS B WHERE B.FlagTransferencia = 1
					--SELECT * FROM #TB_Inventory AS I WHERE I.FlagTransferencia = 1 ORDER BY R


									-- Crear tabla temporal para almacenar los resultados de la transferencia
					   -- Crear tabla temporal para almacenar los resultados de la transferencia
					IF (SELECT COUNT(*) AS Inv FROM #TB_Inventory) = 0
					BEGIN
									SELECT 
										 [TransferUnits]		=	(SELECT 'No Inventory For Transfer' as msg FOR JSON PATH)
										,[NewBoxes]				=	(SELECT NULL as b FOR JSON PATH)
									FOR JSON PATH
					END
					ELSE
					BEGIN
							IF OBJECT_ID('tempdb..#TB_ResultTransfer') IS NOT NULL DROP TABLE #TB_ResultTransfer
							CREATE TABLE #TB_ResultTransfer (
								 [ID]						INT IDENTITY(1,1) PRIMARY KEY
								,[BoxOriginal]				VARCHAR(100)
								,[BoxCodeOriginal]			VARCHAR(100)
								,[UnidadesTransferidas]		INT
								,[Estilo]					VARCHAR(100)
								,[Color]					VARCHAR(100)
								,[Size]						VARCHAR(10)
								,[PPFG]						VARCHAR(100)
								,[BoxDestino]				VARCHAR(100)
								,[BoxCodeDestino]			VARCHAR(100)
								,[BinBoxDestino]			VARCHAR(100)
								,[DatosCSV]					NVARCHAR(MAX)
							)

							DECLARE @BoxOriginal		VARCHAR(100)
							DECLARE @BoxCodeOriginal	VARCHAR(100)
							DECLARE @Style				VARCHAR(100)
							DECLARE @StyleColor			VARCHAR(100)
							DECLARE @Size				VARCHAR(10)
							DECLARE @PPFG				VARCHAR(100)
							DECLARE @QuantityOH			INT
							DECLARE @MinUnits			INT
							DECLARE @FlagTransferencia	BIT
							DECLARE @BoxDestino			VARCHAR(100)
							DECLARE @BoxCodeDestino		VARCHAR(100)
							DECLARE @BinBoxDestino		VARCHAR(100)
							DECLARE @CantidadEnCaja		INT
							DECLARE @MaxUnits			INT
							DECLARE @CantidadMover		INT

							-- Cursor para recorrer las cajas de origen en orden de RowNumber
							DECLARE cur_Origen CURSOR FOR
								SELECT 
									 [BoxNumber]
									,[BoxCode]
									,[Style]
									,[StyleColor]
									,[Size]
									,[PPFG]
									,[QuantityOH]
									,[MinUnits]
									,[FlagTransferencia]
								FROM #TB_DataByBox
								WHERE FlagTransferencia = 1
								ORDER BY RowNumber

							OPEN cur_Origen
							FETCH NEXT FROM cur_Origen INTO @BoxOriginal,@BoxCodeOriginal, @Style, @StyleColor, @Size,@PPFG, @QuantityOH, @MinUnits, @FlagTransferencia

							WHILE @@FETCH_STATUS = 0
							BEGIN
								-- Solo transferimos si las unidades son menores o iguales al mínimo permitido
								IF @QuantityOH <= @MinUnits
								BEGIN
									-- Cursor para recorrer las cajas de destino donde se puede transferir este estilo/color/Size
									DECLARE cur_Destino CURSOR FOR
										SELECT 
											 [BoxNumber]
											,[BoxCode]
											,[Bin]
											,[QuantityOH]
											,[MaxUnits]
										FROM #TB_Inventory
										WHERE Style = @Style AND StyleColor = @StyleColor AND Size = @Size AND FlagTransferencia = 1
										ORDER BY R -- Se llena en orden de prioridad

									OPEN cur_Destino
									FETCH NEXT FROM cur_Destino INTO @BoxDestino, @BoxCodeDestino, @BinBoxDestino,@CantidadEnCaja, @MaxUnits

									WHILE @@FETCH_STATUS = 0 AND @QuantityOH > 0
									BEGIN
										-- Determinar cuánto se puede transferir sin exceder el límite
										SET @CantidadMover = CASE WHEN @QuantityOH <= (@MaxUnits - @CantidadEnCaja) THEN @QuantityOH ELSE 0 END

										-- Si hay espacio, realizar la transferencia
										IF @CantidadMover > 0
										BEGIN
											-- Insertar en la tabla de resultados
											INSERT INTO #TB_ResultTransfer (
												 [BoxOriginal]
												,[BoxCodeOriginal]
												,[UnidadesTransferidas]
												,[Estilo]
												,[Color]
												,[Size]
												,[PPFG]
												,[BoxDestino]
												,[BoxCodeDestino]
												,[BinBoxDestino]
									
											)VALUES (@BoxOriginal,@BoxCodeOriginal, @CantidadMover, @Style, @StyleColor, @Size,@PPFG, @BoxDestino,@BoxCodeDestino,@BinBoxDestino)

											-- Actualizar cantidad en la caja de destino en `NewQuantityOH` y `NewMaxBoxQOH`
											UPDATE #TB_Inventory
											SET  [NewQuantityOH] = [QuantityOH] + @CantidadMover
												,[NewMaxBoxQOH] = [QuantityOH] + @CantidadMover  -- Se actualiza la misma cantidad en ambas columnas
											WHERE BoxNumber = @BoxDestino

											-- Reducir cantidad de la caja original
											SET @QuantityOH = @QuantityOH - @CantidadMover
										END

										FETCH NEXT FROM cur_Destino INTO @BoxDestino, @BoxCodeDestino, @BinBoxDestino, @CantidadEnCaja, @MaxUnits
									END

									CLOSE cur_Destino;
									DEALLOCATE cur_Destino
								END

								FETCH NEXT FROM cur_Origen INTO @BoxOriginal,@BoxCodeOriginal, @Style, @StyleColor, @Size,@PPFG, @QuantityOH, @MinUnits, @FlagTransferencia
							END

							CLOSE cur_Origen
							DEALLOCATE cur_Origen


							---NUEVA RESPUESTA POR SI NO HAY UNIDADES A TRANSFERIR

							IF NOT EXISTS (SELECT * FROM #TB_ResultTransfer)
							BEGIN
								--SELECT 'Fin' as Mensaje
								----SELECT * FROM #TB_DataByBox
								--SELECT * FROM #TB_DataByBox WHERE FlagTransferencia = 0
								----SELECT TOP 1 1 FROM #TB_DataByBox WHERE FlagTransferencia = 0

											SELECT 
											 [TransferUnits]		=	(SELECT null as a FOR JSON PATH)
											,[NewBoxes]				=	(SELECT null as b FOR JSON PATH)
											FOR JSON PATH

							END
							ELSE
							BEGIN

								-- Mostrar resultado final de la transferencia
								UPDATE A SET
									 [DatosCSV]		= B.DatosCSV
								FROM #TB_ResultTransfer AS A
								LEFT JOIN (		SELECT 
													 [ID]
													,[DatosCSV]		= CONCAT('BOX'
														,',',[BoxCodeDestino]
														 , ',', FORMAT(DATEADD(SECOND, 1+ ROW_NUMBER() OVER (ORDER BY [BoxCodeDestino]), GETDATE()), 'yyyyMMdd')
														, ',', FORMAT(DATEADD(SECOND,  1+ ROW_NUMBER() OVER (ORDER BY [BoxCodeDestino]), GETDATE()), 'HHmmss')
														,',1'
														,',TBUQ'
														,',',[BoxCodeOriginal]
														,',',[PPFG]
														--,',1'		---CAMBIO TEST
														,',',CAST([UnidadesTransferidas] AS VARCHAR)
														)
													FROM #TB_ResultTransfer
										)  AS B ON B.ID = A.ID
				
								--SELECT * FROM #TB_ResultTransfer
								--SELECT * FROM #TB_Inventory
								--SELECT * FROM #TB_DataByBox
								--DECLARE @DatosFinales NVARCHAR(MAX);

								--SELECT @DatosFinales = STRING_AGG(DatosCSV, CHAR(13) + CHAR(10))
								--	FROM #TB_ResultTransfer;

								--select @DatosFinales;

								 -- SELECT * FROM #TB_JSON
				 
					


										--------------------------------------------Insert de respuesta 1-----------------------------------------------
										INSERT INTO #TB_Response1
										SELECT	 
												 [BoxOriginal]				=	TRT.[BoxOriginal]
												,[BoxDestino]				=	TRT.[BoxDestino]
												,[BinBoxDestino]			=	TRT.[BinBoxDestino]
												,[StyleNumber]				=	TRT.[Estilo]
												,[StyleColor]				=	TRT.[Color]
												,[Size]						=	TRT.[Size]
												,[UnidadesTransferidas]		=	TRT.[UnidadesTransferidas]
												,[Flag]						=	0					--IIF(TB2.[QuantityOH] = 0,1,@FinalFlag) ---CAMBIO TEST
												,[CommentFlag]				=	'OK'				--IIF(TB2.[QuantityOH] = 0,'OK',@FinalComment) 
												,[PossibleErrors]			=	'OK'				--IIF(TB2.[QuantityOH] = 0,'OK',@PossibleErrors) 
												,[FinalComponent]			=	'REALIZAR TRANS'	--IIF(TB2.[QuantityOH] = 0,'[OK]',@FinalComponent) 
												,[DatosCSV]					= TRT.[DatosCSV]
										FROM	#TB_ResultTransfer			AS	TRT
										LEFT JOIN
										(
											SELECT 
												 [BoxNumber]	
												,[BoxCode]
												,[Style]
												,[StyleColor]
												,[Size]
												,[PPFG]
												,[Bin]
												,[MODate]
												,[QuantityOH]	
											FROM(
												SELECT
													 [Bin]					= GBB.[Bin]
													,[BoxNumber]			= PBB.[BoxNumber]
													,[BoxCode]				= 'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
													,[Style]				= ST.[StyleNumber]
													,[StyleColor]			= STC.[StyleColorName]
													,[Size]					= FG.[GarmentSize]
													,[PPFG]					= 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
													,[MODate]				= MIN(MO.[ManufacturedDate])
													,[QuantityOH]			= SUM(PKI.[Quantity])
												FROM			[LCA].[dbo].[PackedItems]			AS PKI	WITH(NOLOCK)
													INNER JOIN	[LCA].[dbo].[FinishedGoods]		AS FG	WITH(NOLOCK) ON PKI.[FinishedGoodsID] = FG.[FinishedGoodsID] AND PKI.Quantity <> 0
													INNER JOIN	[LCA].[dbo].[Styles] 				AS ST	WITH(NOLOCK) ON FG.[StyleID] = ST.[StyleID]
													INNER JOIN	[LCA].[dbo].[StyleColors] 		AS STC	WITH(NOLOCK) ON FG.[StyleColorID] = STC.[StyleColorID]
													LEFT JOIN	[LCA].[dbo].[StyleOptions] 		AS SO	WITH(NOLOCK) ON FG.[StyleOptionID] = SO.[StyleOptionID] 
													LEFT JOIN	[LCA].[dbo].[OrderDetails] 		AS ODD	WITH(NOLOCK) ON PKI.[OrderDetailsID] = ODD.[OrderDetailsID]
													LEFT JOIN	[LCA].[dbo].[Orders] 				AS ORD 	WITH(NOLOCK) ON ODD.[OrderID] = ORD.[OrderID] 
													INNER JOIN	[LCA].[dbo].[PackedBoxes] 		AS PBB	WITH(NOLOCK) ON PKI.[PackedBoxID] = PBB.[PackedBoxID]	AND PBB.StatusID IN(0, 8, 98, 100)
													INNER JOIN	[LCA].[dbo].[Warehouses] 			AS WH	WITH(NOLOCK) ON PBB.[WarehouseID] = WH.[WarehouseID]		AND WH.WarehouseID IN (35,60)---Agregado con JH,RM,DP
													LEFT JOIN	[LCA].[dbo].[GoodsBins] 			AS GBB	WITH(NOLOCK) ON PBB.[GoodsBinID] = GBB.[GoodsBinID] 
													INNER JOIN	[LCA].[dbo].[ManufactureOrders] 	AS MO	WITH(NOLOCK) ON PKI.[ManufactureID] = MO.[ManufactureID]
													LEFT JOIN	[LCA].[dbo].[Seasons] 			AS SNS	WITH(NOLOCK) ON SNS.[SeasonID] = ST.[SeasonID]
													INNER JOIN	#TB_ResultTransfer						AS TB				 ON PBB.BoxNumber = TB.BoxOriginal
																															AND 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000)) = TB.PPFG
								
													GROUP BY
														 GBB.[Bin]
														,PBB.[BoxNumber]
														,'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
														,ST.[StyleNumber]
														,STC.[StyleColorName]
														,FG.[GarmentSize]
														,'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
												) AS TB
											)AS TB2 ON TRT.BoxOriginal = TB2.BoxNumber


										--------------------------------------------Insert de respuesta 2-----------------------------------------------
										INSERT INTO #TB_Response2
										SELECT	 
												 [RowNumber]			=	TRT.[ID]
												,[Flag]					=	''
												,[CommentFlag]			=	''
												,[PossibleErrors]		=	''
												,[FinalComponent]		=	''
												,[NewLabel]				=	''
												,[BoxCode]				=	TRT.[BoxCodeDestino]
												,[BoxNumber]			=	TRT.[BoxDestino]
												,[BIN]					=	TRT.[BinBoxDestino]
												,[PPFG]					=	TRT.[PPFG]
												,[Ord_MO]				=	''
												,[UnitsRequired]		=	0
												,[StyleNumber]			=	TRT.[Estilo]
												,[StyleColor]			=	TRT.[Color]
												,[Size]					=	TRT.[Size]
												,[BlankBox]				=	''
												,[Units]				=	TB2.[QuantityOH]
												,[Label]				=	''
												,[ManufactureID]		=	0
												,[withDrawDate]			=	GETDATE()
												,[Datos]				=	''

										FROM	#TB_ResultTransfer AS TRT
										LEFT JOIN
										(
											SELECT 
												 [BoxNumber]	
												,[BoxCode]
												,[Style]
												,[StyleColor]
												,[Size]
												,[PPFG]
												,[Bin]
												,[MODate]
												,[QuantityOH]	
											FROM(
												SELECT
													 [Bin]					= GBB.[Bin]
													,[BoxNumber]			= PBB.[BoxNumber]
													,[BoxCode]				= 'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
													,[Style]				= ST.[StyleNumber]
													,[StyleColor]			= STC.[StyleColorName]
													,[Size]					= FG.[GarmentSize]
													,[PPFG]					= 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
													,[MODate]				= MIN(MO.[ManufacturedDate])
													,[QuantityOH]			= SUM(PKI.[Quantity])
												FROM			[LCA].[dbo].[PackedItems]			AS PKI	WITH(NOLOCK)
													INNER JOIN	[LCA].[dbo].[FinishedGoods]		AS FG	WITH(NOLOCK) ON PKI.[FinishedGoodsID] = FG.[FinishedGoodsID] AND PKI.Quantity <> 0
													INNER JOIN	[LCA].[dbo].[Styles] 				AS ST	WITH(NOLOCK) ON FG.[StyleID] = ST.[StyleID]
													INNER JOIN	[LCA].[dbo].[StyleColors] 		AS STC	WITH(NOLOCK) ON FG.[StyleColorID] = STC.[StyleColorID]
													LEFT JOIN	[LCA].[dbo].[StyleOptions] 		AS SO	WITH(NOLOCK) ON FG.[StyleOptionID] = SO.[StyleOptionID] 
													LEFT JOIN	[LCA].[dbo].[OrderDetails] 		AS ODD	WITH(NOLOCK) ON PKI.[OrderDetailsID] = ODD.[OrderDetailsID]
													LEFT JOIN	[LCA].[dbo].[Orders] 				AS ORD 	WITH(NOLOCK) ON ODD.[OrderID] = ORD.[OrderID] 
													INNER JOIN	[LCA].[dbo].[PackedBoxes] 		AS PBB	WITH(NOLOCK) ON PKI.[PackedBoxID] = PBB.[PackedBoxID]	AND PBB.StatusID IN(0, 8, 98, 100)
													INNER JOIN	[LCA].[dbo].[Warehouses] 			AS WH	WITH(NOLOCK) ON PBB.[WarehouseID] = WH.[WarehouseID]		AND WH.WarehouseID IN (35,60)---Agregado con JH,RM,DP
													LEFT JOIN	[LCA].[dbo].[GoodsBins] 			AS GBB	WITH(NOLOCK) ON PBB.[GoodsBinID] = GBB.[GoodsBinID] 
													INNER JOIN	[LCA].[dbo].[ManufactureOrders] 	AS MO	WITH(NOLOCK) ON PKI.[ManufactureID] = MO.[ManufactureID]
													LEFT JOIN	[LCA].[dbo].[Seasons] 			AS SNS	WITH(NOLOCK) ON SNS.[SeasonID] = ST.[SeasonID]
													INNER JOIN	#TB_ResultTransfer						AS TB				 ON PBB.BoxNumber = TB.BoxDestino
																															AND 'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000)) = TB.PPFG
								
													GROUP BY
														 GBB.[Bin]
														,PBB.[BoxNumber]
														,'PPBX'+Ltrim(Str(PBB.PackedBoxID+10000000))
														,ST.[StyleNumber]
														,STC.[StyleColorName]
														,FG.[GarmentSize]
														,'PPFG' + LTRIM(STR(FG.[FinishedGoodsID] + 1000000))
												) AS TB
											)AS TB2 ON TRT.BoxDestino = TB2.BoxNumber


											SELECT 
											 [TransferUnits]		=	(SELECT * FROM #TB_Response1 FOR JSON PATH)
											,[NewBoxes]				=	(SELECT * FROM #TB_Response2 FOR JSON PATH)
											FOR JSON PATH
									END
							END --------------------FINAL ELSE EXIST RESULT_TRANSFER

				END -----------FINAL DE ELSE DE TODO EL PROCEDIMIENTO

		END-----------IF GENERAL PARA ESTIOS Headwear
		ELSE
		BEGIN
			SELECT 
				 [TransferUnits]		=	(SELECT 'No process to Styles Headwear' as msg FOR JSON PATH)
				,[NewBoxes]				=	(SELECT NULL as b FOR JSON PATH)
			FOR JSON PATH
		END
END
