USE [AppsLCA]
GO
/****** Object:  StoredProcedure [dbo].[SP_Barcode_Production_Bundles_Scan]    Script Date: 18/02/2025 02:05:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_Barcode_Production_Bundles_Scan]
	 @PPBU		VARCHAR(MAX)
	,@PPAD		VARCHAR(MAX)
	,@Scanner	VARCHAR(10)

AS
SET NOCOUNT ON
BEGIN
		--DECLARE @PPBU AS VARCHAR(MAX)
		--SET @PPBU = 'PPBU11933410'
		--DECLARE @PPAD AS VARCHAR(MAX)
		----SET @PPAD = 'PPAD45492'
		--SET @PPAD = 'PPAD45545'
		--DECLARE @Scanner AS VARCHAR(10)
		--SET @Scanner = '1'
	BEGIN TRY
		DECLARE @TaskComplete AS VARCHAR(MAX)
		DECLARE @TaskPending  AS VARCHAR(MAX)
		DECLARE @IsValid	  AS BIT

		DECLARE @Fecha AS VARCHAR(20)
		SET @Fecha = (SELECT CONVERT(VARCHAR(8), GETDATE(), 112))
		DECLARE @Hora AS VARCHAR(20)
		SET @Hora = (	SELECT 
						RIGHT('0' + CAST(DATEPART(HOUR, GETDATE()) AS VARCHAR(2)), 2) +
						RIGHT('0' + CAST(DATEPART(MINUTE, GETDATE()) AS VARCHAR(2)), 2) +
						RIGHT('0' + CAST(DATEPART(SECOND, GETDATE()) AS VARCHAR(2)), 2) +
						CAST(DATEPART(MILLISECOND, GETDATE()) / 100 AS VARCHAR(1))	)
    



		DECLARE @ID_PPBU AS INT 
		SET @ID_PPBU = (CAST(SUBSTRING(@PPBU,5,len(@PPBU)) AS INT) - 10000000)
		DECLARE @ID_PPAD AS INT
		SET @ID_PPAD = (CAST(SUBSTRING(@PPAD,5,len(@PPAD)) AS INT) - 10000)

		IF OBJECT_ID('tempdb..#TB_FlowChart') IS NOT NULL  DROP TABLE #TB_FlowChart
		CREATE TABLE #TB_FlowChart (
			 [BundleID]				INT
			,[seq]					INT
			,[nodenumber]			INT
			,[nextnodenumber]		INT
			,[taskname]				VARCHAR(100)
			,[Quantity]				INT
	
		)

		IF OBJECT_ID('tempdb..#TB_Response') IS NOT NULL  DROP TABLE #TB_Response
		CREATE TABLE #TB_Response (
			 [PPBU]				VARCHAR(100)
			,[PPAD]				VARCHAR(100)
			,[Flag]				BIT
			,[Msg]				NVARCHAR(MAX)
			,[FinalComponent]	NVARCHAR(MAX)
		)

		IF NOT EXISTS (SELECT * from LCA.dbo.Bundles with(nolock) where BundleID = @ID_PPBU)
			BEGIN
				SET @IsValid = 0 
				INSERT INTO #TB_Response 
				SELECT @PPBU, @PPAD, @IsValid,'El bulto: '+@PPBU+' no existe, favor actualizar Traveler de orden','[Barcode]'

				SELECT * FROM #TB_Response FOR JSON PATH
			END
		ELSE
			BEGIN
				SET @TaskComplete =	 (
										SELECT
											 TB_Com.TaskName

										FROM
											(
												SELECT   [BundleID]		=	b.[BundleID]
														--,[OperatorID]		=	wt.[OperatorID]
														,[TaskName]		=	t.[TaskName]
														,[Quantity]		=	SUM(wt.[Quantity])
												FROM		LCA.dbo.Bundles				AS b  with(nolock)
												INNER JOIN  LCA.dbo.WorkTransactions    AS wt with(nolock)   ON b.[BundleID] = wt.[BundleID]
																											 AND b.[BundleID] = @ID_PPBU-- AND wt.[OperatorID] = 35466
												INNER JOIN  LCA.dbo.WorkTasks			AS t  with(nolock)	 ON wt.[TaskID]  = t.[TaskID]
																											 AND t.TaskName = (SELECT TOP 1 AD.ProductionTaskName FROM LCA.dbo.Addresses AS AD WITH(NOLOCK) WHERE AddressID = @ID_PPAD)
												GROUP BY b.[BundleID],t.[TaskName]
											) TB_Com
										WHERE IIF(Quantity <= 0,0,1) = 1
									 )
				IF @TaskComplete <> ''
					
					BEGIN
						SET @IsValid = 1
						INSERT INTO #TB_Response 
						SELECT @PPBU, @PPAD, @IsValid,'El bulto: '+@PPBU+' con la tarea: '+@TaskComplete+' ya fue escaneado','[Barcode]'

						SELECT * FROM #TB_Response FOR JSON PATH
					END
				ELSE
					BEGIN
						INSERT INTO #TB_FlowChart
						select   @ID_PPBU
								,[sequence]
								,nodenumber
								,nextnodenumber
								,taskname
								,Quantity

						from 
								(
								SELECT 
									 [Sequence]			=	t.[Sequence]
									,[NodeNumber]		=	t.[NodeNumber]
									,[NextNodeNumber]	=	t.[NextNodeNumber]
									,[TaskName]			=	t.[TaskName]
									,Quantity			=	SUM(wt.[Quantity])
							
								FROM  LCA.dbo.Bundles AS b with(nolock)
								INNER JOIN  LCA.dbo.WorkTransactions   AS wt  with(nolock)   ON b.[BundleID] = wt.[BundleID] AND b.[BundleID] = @ID_PPBU
								INNER JOIN  LCA.dbo.WorkTasks			AS t   with(nolock)  ON wt.[TaskID]  = t.[TaskID] 
								GROUP BY
									 t.[Sequence]
									,t.[NodeNumber]
									,t.[NextNodeNumber]
									,t.[TaskName]
							
								) tb_task
					
						DECLARE @TaskActual AS VARCHAR(MAX)
						SET @TaskActual = (SELECT 
												a.ProductionTaskName 
											FROM LCA.dbo.Addresses as a WITH(NOLOCK)
											WHERE AddressID = @ID_PPAD)

						DECLARE @NodeNumber AS INT
						SET @NodeNumber =	(SELECT 
												fc.nodenumber	
											 FROM #TB_FlowChart as fc 
											 WHERE taskname = @TaskActual)

						WHILE (1 = 1)
						BEGIN
							SET @IsValid = 0
							IF EXISTS (SELECT top 1
											fc.taskname 
									   FROM #TB_FlowChart AS fc 
									   WHERE nextnodenumber = @NodeNumber AND IIF(Quantity <= 0,0,1) = 0
									  )
								BEGIN
									SET @TaskPending = (SELECT fc.taskname 
														FROM #TB_FlowChart as fc 
														WHERE nextnodenumber = @NodeNumber AND IIF(Quantity <= 0,0,1) = 0)
								END
							ELSE
								BEGIN
									IF EXISTS (SELECT top 1 
													fc.taskname 
											   FROM #TB_FlowChart as fc 
											   WHERE nextnodenumber = @NodeNumber AND IIF(Quantity <= 0,0,1) = 1
											  )
									BEGIN
										SET @NodeNumber = (SELECT  
																fc.nodenumber
															FROM #TB_FlowChart as fc 
															WHERE nextnodenumber = @NodeNumber)
									END
									ELSE
									BEGIN
										SET @TaskPending = 'No hay Tareas Pendientes'
										SET @IsValid = 1
									END
								END

							IF @TaskPending <> '' 
							BEGIN
								BREAK
							END
					
					
 						END

						IF @TaskPending <> '' AND @IsValid <> 1
						BEGIN
							INSERT INTO #TB_Response 
							SELECT @PPBU, @PPAD, @IsValid,'No se pudo escanear el bulto: '+@PPBU+' con la tarea: '+@TaskActual+' porque la tarea: '+@TaskPending+' está pendiente','[LastBarcode]'

							SELECT * FROM #TB_Response FOR JSON PATH
						END
						ELSE
						BEGIN
							DECLARE @Datos              VARCHAR(100)    --Variable que tiene los datos que iran en el archivo TXT
							DECLARE @DatosEnviarAPI		VARCHAR(MAX) 
							SET @Datos              = 'OPR,'+@PPAD+','+@Fecha+','+@Hora+','+@Scanner+',WIPT,'+@PPBU
							SET @DatosEnviarAPI= @Datos
 
							--SELECT @DatosEnviarAPI
							DECLARE @flagJson		AS BIT
							DECLARE @responsePPM	AS NVARCHAR(MAX)
							DECLARE @jsonResponse	AS NVARCHAR(MAX)
							DECLARE @FinalComponent AS NVARCHAR(MAX)
 
							--- Ejecutar el procedimiento almacenado y capturar el resultado JSON en una variable de salida
							EXEC [AppsLCA].[dbo].[SP_Barcode_TransactionAPI] 
								@VarTransaction = @DatosEnviarAPI,				--'BOX,PPMB1606768,20250214,1325890,1,TBUQ,PPBX11441940,PPFG1196505,1',
								@jsonResponse = @jsonResponse OUTPUT
 
							--- Extraer los valores del JSON de salida
							SET @responsePPM = JSON_VALUE(@jsonResponse, '$[0].MessagePPM')
							SET @flagJson = JSON_VALUE(@jsonResponse, '$[0].FlagCompleted')
							SET @FinalComponent = JSON_VALUE(@jsonResponse, '$[0].FinalComponent')
 
							 --- Ver los valores extraídos
							INSERT INTO #TB_Response
							SELECT @PPBU,@PPAD,@flagJson,@responsePPM, @FinalComponent

							SELECT * FROM #TB_Response FOR JSON PATH
					
						END
					END
		
			END
	END TRY
	BEGIN CATCH
		SELECT
		 [PPBU]				=	@PPBU	
		,[PPAD]				=	@PPAD
		,[Flag]				=	0
		,[Msg]				=	'Database error'
		,[FinalComponent]	=	'[DataBase]'
		 
	END CATCH
END