USE [AppsLCA]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_InfoOrders_to_PolyPM_withData]    Script Date: 30/04/2025 07:10:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		JOSE HERNANDEZ
-- Create date: 2025-01-22
-- Description:	Se realiza proceso para actualizacion de campos de Ordenes segun el PWModulo dentro de las MO. Devuelve tabla con datos.
-- Proceso:		Se realiza update segun tabla de la replica
--				Se devuelven datos actualizados ya en base LCA
-- =============================================
--ALTER PROCEDURE [dbo].[sp_Upload_InfoOrders_to_PolyPM_withData_2]
--	@PWModulo varchar(100)
--AS
BEGIN
 	SET NOCOUNT on;

	DECLARE @PWModulo varchar(100)

	SET @PWModulo = 'ASSIGMENT DLI #351 2025-04-29'
	IF @PWModulo LIKE '%HW%'
	BEGIN

		UPDATE od SET
		--SELECT 
				--[OrderID]		= oi.OrderID
				[Comments26]	= (CASE WHEN od.Comments26 IS NULL OR od.Comments26 = ''		THEN oi.Codes			ELSE od.Comments26		END)
			,[Comments27]   = (CASE WHEN od.Comments27 IS NULL OR od.Comments27 = ''		THEN oi.StitchCount		ELSE od.Comments27		END)
			,[Comments25]   = (CASE WHEN od.Comments25 IS NULL OR od.Comments25 = ''		THEN oi.SequenceNo		ELSE od.Comments25		END)
			,[OrderTypeID4] = (CASE WHEN		od.OrderTypeID4 IS NULL 
											OR	od.OrderTypeID4 = '' 
											OR	od.OrderTypeID4 = 28						THEN oi.OrderTypeID4	ELSE od.OrderTypeID4	END)
			,[Comments30]   = (CASE WHEN od.Comments30 IS NULL OR od.Comments30 = ''		THEN oi.ThreadID		ELSE od.Comments30		END)
			,[Comments29]   = (CASE WHEN od.Comments29 IS NULL OR od.Comments29 = ''		THEN oi.AppliqueColor	ELSE od.Comments29		END)

			FROM [192.168.1.93].AppsLCA.dbo.VW_InfoOrdersToPolyPM	AS oi	WITH(NOLOCK)
			INNER JOIN LCA.dbo.Orders								AS od	WITH(NOLOCK) ON od.OrderID	= oi.OrderID
			INNER JOIN (
							SELECT DISTINCT 
								OD.orderID 
							FROM		LCA.dbo.Orders				AS od WITH(NOLOCK)
							INNER JOIN	LCA.dbo.ManufactureOrders	AS mo WITH(NOLOCK) ON mo.OrderID	= od.OrderID 
																							AND mo.Comments7 = @PWModulo
																							and mo.StatusID < 90
						) AS odo ON odo.OrderID = od.OrderID
	END
	ELSE
	BEGIN
		--UPDATE od SET
		SELECT 
		 [OrderID]		= oi.OrderID
		,[ItemDetailID] = oi.ItemDetailID
		,[ORD]			= od.PONumber,
		 [Comments26]	= (CASE WHEN od.Comments26 IS NULL OR od.Comments26 = ''		THEN oi.Codes			ELSE od.Comments26		END)
		,[Comments27]   = (CASE WHEN od.Comments27 IS NULL OR od.Comments27 = ''		THEN oi.StitchCount		ELSE od.Comments27		END)
		,[Comments25]   = (CASE WHEN od.Comments25 IS NULL OR od.Comments25 = ''		THEN oi.SequenceNo		ELSE od.Comments25		END)
		,[OrderTypeID4] = (CASE WHEN		od.OrderTypeID4 IS NULL 
										OR	od.OrderTypeID4 = '' 
										OR	od.OrderTypeID4 = 28						THEN oi.OrderTypeID4	ELSE od.OrderTypeID4	END)
		,[Comments30]   = (CASE WHEN od.Comments30 IS NULL OR od.Comments30 = ''		THEN oi.ThreadID		ELSE od.Comments30		END)
		,[Comments29]   = (CASE WHEN od.Comments29 IS NULL OR od.Comments29 = ''		THEN oi.AppliqueColor	ELSE od.Comments29		END)

		FROM [192.168.1.93].AppsLCA.dbo.VW_InfoOrdersToPolyPM_Emb_Apparel	AS oi	WITH(NOLOCK)
		INNER JOIN LCA.dbo.Orders								AS od	WITH(NOLOCK) ON od.OrderID	= oi.OrderID
		INNER JOIN (
						SELECT DISTINCT 
							OD.orderID 
						FROM		LCA.dbo.Orders				AS od WITH(NOLOCK)
						INNER JOIN	LCA.dbo.ManufactureOrders	AS mo WITH(NOLOCK) ON mo.OrderID	= od.OrderID 
																						AND mo.Comments7 = @PWModulo
					) AS odo ON odo.OrderID = od.OrderID
	END


	SELECT 
		 [PWModulo]				= @PWModulo
		,[PONumber]				= od.PONumber
		,[Location_Desc]		= ddv5.DropDownValue
		,[Code]					= od.Comments26
		,[Sequence_Qty]			= od.Comments25
		,[StitchCount]			= od.Comments27
		,[ThreadID]				= od.Comments30
		FROM	(
					SELECT DISTINCT 
						OD.orderID 
					FROM		LCA.dbo.Orders				AS od WITH(NOLOCK)
					INNER JOIN	LCA.dbo.ManufactureOrders	AS mo WITH(NOLOCK) ON mo.OrderID	= od.OrderID 
																					AND mo.Comments7 = @PWModulo
				) AS odo 
		LEFT JOIN	LCA.dbo.Orders			AS od	WITH (NOLOCK) ON odo.OrderID = od.OrderID
		LEFT JOIN	LCA.dbo.DropDownValues5 AS ddv5 WITH (NOLOCK) ON od.OrderTypeID4 = ddv5.DropDownValueID
    
	
	
END
